@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


.error{
	background: #f8dbdb !important;
	border-color: #e77776 !important;
}
body{background-color: #ffffff;}
#feedback-page{text-align:center;}
#form-main{width:100%;float:left;padding-top:0px;}
#form-div {

	background-color: #fff;
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    position: absolute;
    width: 70%;
	float: left;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{background: #fff;box-shadow: 0;border: 3px solid #c32257;color: #c32257;outline: none;padding: 13px 13px 13px 54px;}
.focused{color:#30aed6;border:#30aed6 solid 3px;}
/* Icons ---------------------------------- */
#nombre{background-image: url(../images/name.svg) !important;background-size: 30px 30px !important;background-position: 11px 8px !important;background-repeat: no-repeat !important;}
#nombre:focus{background-image: url(../images/name.svg) !important;background-size: 30px 30px !important;background-position: 8px 5px !important;background-position: 11px 8px !important;background-repeat: no-repeat !important;}
#password{background-image: url(../images/password.png) !important;background-size: 30px 30px !important;background-position: 11px 8px !important;background-repeat: no-repeat !important;}
#password:focus{background-image: url(../images/password.png) !important;background-size: 30px 30px !important;background-position: 8px 5px !important;background-position: 11px 8px !important;background-repeat: no-repeat !important;}
input:hover, textarea:hover, input:focus, textarea:focus {background-color:white;}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color:#0072C6;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#titulo_login{
	color: #b08a16;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 46px;
    height: 60px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%;
    text-shadow:1px 2px 2px #000000;
}


#titulo_login img{
	max-width:263px;
    width: 90%;
    text-shadow:1px 2px 2px #000000;
}



#menu_login{
	color: #b08a16;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    height: 45px;
    margin-top: 130px;
    position: relative;
    text-align: center;
    width: 100%;
}


#menu_login p{
	width:100%;
	text-align:center;
	float:left;
}

#menu_login_button p{
	width:100%;
	text-align:center;
	float:left;
}
#menu_login_button{
	color: #b08a16;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 60px;
    position: relative;
    text-align: center;
    width: 100%;
}




#menu_login_button p:hover{color: #f0ca56;cursor:pointer;}
.submit:hover {color: #f0ca56;}



#button-blue:hover{background-color: rgba(0,0,0,0);color: #c32257;}
.submit:hover {color: #c32257;}
.ease {width: 0px;height: 74px;background-color: #fbfbfb;-webkit-transition: .3s ease;-moz-transition: .3s ease;-o-transition: .3s ease;-ms-transition: .3s ease;transition: .3s ease;}
.submit:hover .ease{width:100%;background-color:white;}

@media only screen and (max-width: 580px) {
	#form-div{left: 3%;margin-right: 3%;width: 88%;margin-left: 0;padding-left: 3%;padding-right: 3%;}
}