

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url("//hello.myfonts.net/count/3182d3");
/*WEBFONTS*/


@font-face {
	font-family: 'ArquitectaBold';
	src: url('../fonts/ArquitectaBold/ArquitectaBold.eot?') format('eot'), 
	     url('../fonts/ArquitectaBold/ArquitectaBold.otf')  format('opentype'),
	     url('../fonts/ArquitectaBold/ArquitectaBold.woff') format('woff'), 
	     url('../fonts/ArquitectaBold/ArquitectaBold.ttf')  format('truetype'),
	     url('../fonts/ArquitectaBold/ArquitectaBold.svg#ArquitectaBold') format('svg');
}

@font-face {
	font-family: 'ArquitectaLight';
	src: url('../fonts/ArquitectaLight/ArquitectaLight.eot?') format('eot'), 
	     url('../fonts/ArquitectaLight/ArquitectaLight.otf')  format('opentype'),
	     url('../fonts/ArquitectaLight/ArquitectaLight.woff') format('woff'), 
	     url('../fonts/ArquitectaLight/ArquitectaLight.ttf')  format('truetype'),
	     url('../fonts/ArquitectaLight/ArquitectaLight.svg#ArquitectaLight') format('svg');
}

@font-face {
	font-family: 'ArquitectaMedium';
	src: url('../fonts/ArquitectaMedium/ArquitectaMedium.eot?') format('eot'), 
	     url('../fonts/ArquitectaMedium/ArquitectaMedium.otf')  format('opentype'),
	     url('../fonts/ArquitectaMedium/ArquitectaMedium.woff') format('woff'), 
	     url('../fonts/ArquitectaMedium/ArquitectaMedium.ttf')  format('truetype'),
	     url('../fonts/ArquitectaMedium/ArquitectaMedium.svg#ArquitectaMedium') format('svg');
}

/*@font-face {
	font-family: 'Brittes';
	src: url('../fonts/brittes/Brittes.eot?') format('eot'), 
	     url('../fonts/brittes/Brittes.otf')  format('opentype'),
	     url('../fonts/brittes/Brittes.woff') format('woff'), 
	     url('../fonts/brittes/Brittes.ttf')  format('truetype'),
	     url('../fonts/brittes/Brittes.svg#Brittes') format('svg');
}*/
  
@font-face {font-family: 'Brittes';src: url('../fonts/brittes/3182D3_0_0.eot');src: url('../fonts/brittes/3182D3_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brittes/3182D3_0_0.woff2') format('woff2'),url('../fonts/brittes/3182D3_0_0.woff') format('woff'),url('../fonts/brittes/3182D3_0_0.ttf') format('truetype'),url('../fonts/brittes/3182D3_0_0.svg#wf') format('svg');}

@font-face {font-family: 'Miso';src: url('../fonts/miso/3180DA_0_0.eot');src: url('../fonts/miso/3180DA_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/miso/3180DA_0_0.woff2') format('woff2'),url('../fonts/miso/3180DA_0_0.woff') format('woff'),url('../fonts/miso/3180DA_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Miso-Bold';src: url('../fonts/miso/3180DA_1_0.eot');src: url('../fonts/miso/3180DA_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/miso/3180DA_1_0.woff2') format('woff2'),url('../fonts/miso/3180DA_1_0.woff') format('woff'),url('../fonts/miso/3180DA_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Miso-Light';src: url('../fonts/miso/3180DA_2_0.eot');src: url('../fonts/miso/3180DA_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/miso/3180DA_2_0.woff2') format('woff2'),url('../fonts/miso/3180DA_2_0.woff') format('woff'),url('../fonts/miso/3180DA_2_0.ttf') format('truetype');}
 

body{
	background: #ecf7f5;
	font-family: 'Miso';
}



.modal-content {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.footer_mb{
		display:block;
	}
.footer_dsktp{
	display:none;
}
.footer_dsktp_a{
		width:100%;
	}
#legal-separator{
	display:none;
}



button.styl-material {
	font-family: 'ArquitectaLight';
	letter-spacing: 1px;
}

#popup {
	background-image: url('../../assets/img/popup.png');
	background-repeat: no-repeat;
	bottom: 0;
    color: #000;
    left: 30px;
    position: fixed;
    zoom: 1;
    text-align: center;
    float: none;
    width: 305px;
    height: 250px;
    z-index: 2;
}

#popup a {
	position: absolute;
	bottom: 18px;
	width: 90px;
	height: 40px;
	left: 105px;
}

#popup a.close {
	position: absolute;
	top: 10px;
	width: 15px;
	height: 15px;
	left: 276px;
}

.close_button{
	/*padding-left:300px;*/
	cursor:pointer;
	height: 28px; 
	padding-top: 10px;
}

#popup div.text {
	position: absolute;
	top: 83px;
	width: 130px;
	height: 11px;
	left: 84px;
	color: #7BA399; /*#bcd4ce;*/
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: 1px;
	font-family: 'Miso-Light';
}

#popup #SkypeButton_Call_hola_2482_1{
	position: absolute;
	bottom: 15px;
	left: -10px;
}

.giftButton{
	position: fixed;
	bottom: 50px;
	margin-left: 880px;
	background-image: url('../../assets/img/CONSIENTETE-01.svg');
	background-size: 80px 80px;
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
	display: none;
}

.giftButton a{
	height: 80px;
	width: 80px;
	position: absolute;
}
#modal-gift #sendGift{
	position: relative;
	top: 11px;
	left: 50%;
	margin-left: -100% !important;
	border: 1px solid #a58929;
	color: white;
	background-color: #a58929;
	width: 100%;
	text-transform: uppercase;
	font-family: 'ArquitectaLight';
		font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 1px;
}

#modal-temporada #sendGift{
	position: relative;
	top: 11px;
	left: 50%;
	margin-left: -100% !important;
	border: 1px solid #a58929;
	color: white;
	background-color: #a58929;
	width: 50%;
	text-transform: uppercase;
	/*font-family: 'Miso-Light';
	letter-spacing: .2em;*/
}

#loaderModal .modal-body{
	padding: 0;
}

.si-icons span {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 40px 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.modal-backdrop {
    background-color: #fff;
}

.container{
	background: white;
}

.header{
	text-align: center;
	min-height: 145px;
	background: white;
	position: fixed;
    z-index: 1;
}

.header img{
	max-height: 106px;
	margin-top: 2.7%;
	vertical-align: middle;
}

em{
    font-style: normal;
}

a:hover {cursor: pointer;}

.close{
	filter: alpha(opacity=70);
    opacity: .7;
}

.close:hover, .close:focus{
	filter: alpha(opacity=100);
	opacity: 1;
}

/*LOADER*/

.loader {
	background: #e9f4f2;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
}
#intro-loader {
	width: 219px;
	height: 106px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -53px 0 0 -109.5px;
	background: url("../img/logo.png");
}

.modal-content {
	border-radius: 0;
	background-color: #C2E5DF;
}

.modal-header{
	border-bottom: 0;
	padding: 0;
}

.modal-header span{
	font-family: 'ArquitectaLight';
	font-size: 40px;
	text-transform: uppercase;
	margin-right: 5px;
}

.navbar-toggle{
	width: 65px;
	height: 48px;
    position: relative;
    float: left;
    padding: 0;
    margin-top: 16px;
    margin-left: 38px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.navbar-toggle svg{
	height: 48px;
	width: 48px;
}

.toggle-active{
}

.toggle-unactive{
   
}

.navbar{
	min-height: 145px;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -105.5px !important;  /* 50% of your logo width */
    display: block;
}



.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 1000px;
}



.nav li a:hover, .nav li a:focus {
	background-color: transparent;
	color: #58585B;
}

.nav li a.first{
	padding-left: 0;
}

.nav li a.last{
	padding-right: 0;
}

.navbar .navbar-collapse {
    text-align: center;
    margin-top: 10px;
    padding: 0;
}

/* ##### HOME SECTION ##### */

.slider{
	margin-bottom: 160px;
}

.slide_text h1{
	color: #8FBDB0;
	font-size: 28px;
	margin: 0;
	font-family: 'Miso-Light';
	text-transform: none;
}
.slide_text h2{
	color: #A6A8AB;
	font-size: 14px;
	margin: 0;
}

.flex-control-paging li a{
	background-color: #FFF;
	border: 1px solid #D1D2D4;
	box-shadow: none;

}

.flex-control-paging li a:hover{
	background-color: #D1D2D4;
	border: 1px solid #D1D2D4;
}

.flex-control-paging li a.flex-active{
	background-color: #D1D2D4;
	border: 1px solid #D1D2D4;
}

li.css a {
	border-radius: 0;
}

.slide_byline{
	font-family: 'ArquitectaLight';
	font-size: 14px;
	text-align: left;
	background-image: url('../img/border_slide.png');
	background-repeat: no-repeat;
	background-position: left top;
	padding-right: 0;
}

.slide_promo_logo {
	height: 82%;
	padding-left: 20px;
}

.slide_promo_logo img {
	position: relative;
	/*top: 50%;*/
	top: 50%;
	transform: translateY(-50%);
	max-height: 110px;
}

.slide_promo_desc{
	font-family: 'Miso-Light';
	text-transform: uppercase;
	text-align: left;
    height: 83%;
    padding-top: 4%;
}

.slide_promo_desc h1, .slide_promo_desc span {
	color: #9cbbae;
	padding: 0;
	margin: 0;
}

.slide_promo_desc h1{
	/*font-size: 31px;
	line-height: 12px;
	margin-top: 10px;*/

	font-size: 23px;
	line-height: 20px;
	margin-top: 0px;
}

.slide_promo_desc span.price, .slide_promo_desc span.currency{
	color: #997f28;
	font-family: 'Miso-Light';
	font-size: 20px;
}

.slide_promo_desc span.price{
	color: #997f28;
	font-size: 32px;
}

.slide_promo_home_a_btn a, .slide_promo_home_b_btn a {
	color: #fff;
	background-color: #997f28;
	font-family: 'ArquitectaLight';
	text-transform: uppercase;
	padding: 4% 19%;
}

.slide_promo_home_b_btn a {
	padding: 2.6% 19%;
}

.slide_promo_home_b div {
  float: none;
}

.slide_promo_home_b .slide_promo_logo {
	height: 45%;
	padding-left: 24px;
}

.slide_promo_home_b .slide_promo_desc {
	height: 36%;
	padding-left: 24px;
}

.slide_promo_home_a, .slide_promo_home_b, .slide_promo_home_b_btn, .slide_promo_home_a_btn{
		display: none;
	}

.social{
	height: 42.5px;
	text-align: right;
	width: 88%;
	margin: 26px auto 0 auto;
	background: white;
}

.social a{
	margin-left: 33px;
}

.footer {
	background-color: #C2E5DF;
	height: 330px;
    letter-spacing: 0.1em;
}

.footer-info{
	width: 82%;
	height: 180px; /*height: 152px;*/
	margin: 0 auto 35px auto;
	padding-top: 32px;
	font-family: 'ArquitectaLight';
	font-size: 14px;
	color: #58595B;
}

.footer-info h1{
	font-family: 'Brittes';
	font-size: 20px;
	padding: 0;
	margin: 0 0 10px 0;
	font-style: normal;
}

.footer-info p{
	font-size: 13px;
}

.footer-info .footer-column{
	font-family: 'ArquitectaLight';
	height: 117px;
	float: left;
	padding-left: 33px;
	text-align: left;
	padding-right: 0;
}

.logo{
	width: 20.4%;
}

.contact{
	width: 25.9%;
	font-family: 'Miso';
}
.contact a{
	color: #58595B;
	text-decoration: none;
}

.about{
	background-image: url('../img/border_slide.png');
	background-repeat: repeat-y;
	background-position: left top;
	width: 29.6%;
}

.about a{
	color: #929497;
	text-decoration: none;
}

.billing{
	background-image: url('../img/border_slide.png');
	background-repeat: repeat-y;
	background-position: left top;
	width: 15%;
	padding-top: 5%;
	font-size: 10px;
}

.billing a{
	color: #749A90;
	text-decoration: none;
}
.footer-legal {
	width: 88%;
	margin: 0 auto 10px auto;
	min-height: 45px;
}

.footer-legal div, .footer-legal a{
	float: left;
	width: 100%;
	font-size: 10.5px;
	text-align: center;
	padding: 6px 35px;
	/*background-image: url('../img/border_black_footer.png');
	background-repeat: repeat-x;
	background-position: left top;*/
	color: #333;
	text-decoration: none;
	letter-spacing: normal
}

.footer-legal .cookies{
	width: 25%;
}

.footer-legal .legal{
	/*width: 20%;*/
}

#legal-separator{
	width:24%;position:relative

}

.footer-legal .privacy{
	width: 20%;
}

.footer-legal .copy{
	width: 35%;
}

.footer-sign{
	width: 88%;
	margin: 0 auto;
	padding-top: 28px;
	font-family: 'ArquitectaLight';
	font-size: 14px;
	text-align: right;
	background-image: url('../img/border_gold_footer.png');
	background-repeat: repeat-x;
	background-position: left top;
}

.footer-sign div{
	line-height: 15px;
	font-size: 10px;
	color: #9C7B36;
}

.footer-sign img{
	vertical-align: baseline;
	height: 13px;
}

.navigation-form{
	min-height: 40px;
	margin: 0 auto;
	width: 80%;
	background-image: url('../img/border_black_footer.png');
	background-repeat: repeat-x;
	background-position: left 25px;
	/*background-size: 3px 80%;*/
}

.circle{
	width:40px;
	height:40px;
	border-radius:50%;
	font-size:25px;
	color:#fff;
	line-height:40px;
	text-align:center;
	background:#9bd4c5;
	float: left;
	margin: 5px 12%;
}

.navigation-form .text{
	width:80px;
	height:40px;
	font-size:12px;
	color:#535353;
	line-height:12px;
	text-align:center;
	float: left;
	margin: 5px 17px;
	text-transform: uppercase;
}

.navigation-form .active{
	color:#4c4c4c;
	font-size: 13px;
}

#reservation-form {
	width: 80%;
	margin: 0 auto;
}

#reservation-form button{
	border: 1px solid #a58929;
	color: #a58929;
	width: 100%;
	background: transparent;
	margin: 10px 0;
	text-transform: uppercase;
}

#modal-billing #sendBilling{
	border: 1px solid #a58929;
	color: #a58929;
	width: 100%;
	background: transparent;
	margin: 10px 0;
	text-transform: uppercase;
}

#modal-billing em{
	width: 100%;
	color: #929396;
	/*float: left;*/
	margin-left: 20%;
	padding-top: 10px;
}

#reservation-form select, #reservation-form input[type=text], #reservation-form input[type=number], #reservation-form input[type=phone], #reservation-form input[type=email], #reservation-form input[type=date]{
	width: 95%;
	margin: 5px 0;
	border-radius: 0;
	-webkit-appearance: none;
	border-style: none;
	text-transform: uppercase;
	float: left;
}




#reservation-form input[type=radio]{
	width: 100%;
	margin: 10px 0;
	color: #91c2ba !important;
	border-radius: 5px;
}

input[placeholder], [placeholder], *[placeholder] {
    /*color: #91c2ba !important;*/
    text-transform: uppercase;
}


/*::-webkit-input-placeholder {
   color: #91c2ba;
   opacity: 1 !important;
}

:-moz-placeholder { 
   color: #91c2ba;  
}

::-moz-placeholder { 
   color: #91c2ba;  
}

:-ms-input-placeholder {  
   color: #91c2ba;  
}*/

#reservation-form input[type=date], #reservation-form select{
	width: 45% ;
	margin-right: 10px;
}

#reservation-form select[name=room], #reservation-form textarea[name=observations]{
	width: 95% !important;
}

#reservation-form label{
	width: 50%;
	float: left;
	color: #7ba499;
	text-transform: uppercase;
	margin-top: 13px
}

#reservation-form .childSelect select{
	float: left;
	width: 40% !important;
	margin: 5px 5px 10px 5px;
}

#reservation-form .grid-form-step2 input, #reservation-form .grid-form-step2 select{
	float: left;
	width: 47% !important;
	margin: 5px 5px 10px 5px;
}

#reservation-form .radiobutton label{
	color: #57585b;
	width: 20%;
	font-size: 12px;
	line-height: 16px;
    margin: 2.5% 6%;
}

#reservation-form .radiobutton label img{
	max-height: 16px;
}

#reservation-form .radiobutton #deposit{
	margin-right: 75%;
	width: 100%;
}


#reservation-form em{
	color: #929396;
}

#reservation-form p{
	color: #57585b;
	font-size: 14px;
	text-transform: uppercase;
}

#reservation-form input[type=radio]{
	float: left;
	width: auto;
	margin: 0;
	padding-top: 10px;
}

#reservation-form input[name=cvv]{
	float: left;
	width: 45%;
}

#reservation-form input[name=expirationmonth], #reservation-form input[name=expirationyear]{
	float: left;
	width: 20%;
	margin-right: 11px;
}

/*GRID*/
#portfolio-wrap {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	font-family: 'Miso-Light';
}
#portfolio-wrap .portfolio-item {
	float: left;
	position: relative;
	margin-left: 0;
}
#portfolio-wrap .portfolio-item img {
	max-width: 100%;
}
#portfolio-wrap .portfolio-item em{
	font-size: 14px;
	text-transform: uppercase;
	font-style: normal;
}
#portfolio-wrap .portfolio-item div{
	font-size: 14px;
	text-transform: uppercase;
	font-style: normal;
}
#portfolio-wrap .portfolio-item em.hotel {
	color: #58595B;
	font-size: 1.2em;
	line-height: 0;
}
#portfolio-wrap .portfolio-item div.hotel {
	color: #58595B;
	font-size: 1.2em;
	line-height: 0;
	margin-top: 15px;
	margin-bottom: 5px;
}
#portfolio-wrap .portfolio-item em.place {
	color: #A6A8AB;
	line-height: 0;
}
#portfolio-wrap .portfolio-item a, #portfolio-wrap .portfolio-item a img {
	position: relative;
	overflow: hidden;
	display: block;
	text-decoration: none;
}
#portfolio-wrap .portfolio-item a .hover-items {
	position: absolute;
	background-color: rgba(208, 232, 229, 1);
	width: 100%;
	height: 100%;
}
#portfolio-wrap .portfolio-item a .hover-items span {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: left;
	height: 110px;
	margin: -68px 0 0 0;
	padding: 0 0 0 17px
}
#portfolio-wrap .portfolio-item a .hover-items span i {
	color: #fff;
}
#portfolio-wrap .portfolio-item a .hover-items span em.lead {
	padding: 0;
	margin: 0;
	color: #9C7B36;
	font-size: 20px;
	line-height: 20px;
	display: block;
	text-transform: uppercase;
}
#portfolio-wrap .portfolio-item a .hover-items span em.price {
	padding: 0;
	color: #9C7B36;
	font-size: 40px;
	line-height: 40px;
	display: block;
	text-transform: uppercase;
}
#portfolio-wrap .portfolio-item a .hover-items span em {
	color: #9C7B36;
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;
}
#portfolio-wrap .portfolio-item a .hover-items span em.more {
	color: #9C7B36;
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;
	float: right;
	margin-top: 55px;
	margin-right: 10px;
	position: absolute;
	bottom: -42px;
	right: 13px;
}

.project-media, .project-description {
	margin: 70px 0 0 0;
	overflow: hidden;
	display: block;
}
.project-description h4 {
	display: inline-block;
	padding: 0px 0px 10px;
	font-weight: 600;
	border-bottom: 1px solid #DEDEDE;
	margin-top: 0;
}
.project-description .project-details {
	margin-bottom: 50px;
}
.project-description .list-info {
	margin: 0 0 10px 0;
	padding: 13px;
	background: #eaeaea;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.project-description .list-info i {
	color: #222;
}
.project-description .list-info span {
	font-weight: 600;
	color: #222;
}
.project-description .list-info em {
	font-size: 12px;
}

/* ##### LESS THAN 768 ##### */

.hotel-back .flex-control-nav{
	background: #e9f4f2;
}

.slide_text .slide_byline{
	display: none;
}

.flex-control-paging{
	/*display: none;*/
}

.hotel-description, .hotel-packs, .hotel-secctions, .hotel-secctions button{
	background-color: #e9f4f2;
	width: 100%;
}

.hotel-secctions{
	width: 100%;
	height: 47px;
}

.hotel-secctions button{
	color: #a1a1a1;
	width: 30%;
	float: left;
	border-style: none;
	margin: 10px 10%;
	text-transform: uppercase;
	border-bottom-style: none;
}

.hotel-secctions .active{
	border-bottom: 2px solid #a1a1a1;
}

.hotel-description{
	text-align: center;
}

.hotel-description img{
	margin-bottom: 5%;
}

.hotel-packs{
	padding: 10px 0;
}

.pack {
	padding: 5px auto;
	height: 200px;
	margin: 25px 20px;
	color: #696969;
}

.pack img {
	width: 195px;
	float: left;
	margin-right: 10px;
}

.pack-desc{
	padding-top: 10px;
	height: 165px;
	margin: 10px auto;
	font-family: 'Miso-Light';
	position:relative;

}

.pack button {
	color: #696969;
	text-transform: uppercase;
	border: 1px solid #696969;
	width: 45%;
	background: transparent;
	position: relative;
}

.pack-desc span em.lead {
	padding: 0;
	margin: 0;
	font-size: 20px;
	line-height: 20px;
	display: block;
	text-transform: uppercase;
}
.pack-desc span em.price {
	padding: 0;
	font-size: 33px;
	line-height: 33px;
	display: block;
	text-transform: uppercase;
}
.pack-desc span em, .pack-desc span em.currency {
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;
}

.pack-include{
		display: none;
	}

.legal-section{
	font-family: 'ArquitectaLight';
	font-size: 14px;
	text-align: justify;
	background: #cbe4df;
	padding: 20px 5%;
	position: relative;
}

.legal-section h1{
	font-size: 'ArquitectaLight';
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 2em;
}

.legal-section h2{
	text-align: left;
	font-size: 'ArquitectaLight';
	font-size: 14px;
	text-transform: uppercase;
	line-height: 2em;
}

.about-section{
	font-family: 'ArquitectaLight';
	font-size: 15px;
	text-align: center;
	background: #deede6;
	width: 100%
}

.about-section div{
	text-align: justify;
	padding: 20px 5%;
	column-count: 1;
}

.about-section div.title{
	padding: 20px 5%;
	column-count: 1;
}

.about-section div.title h1{
	color: #9C7B36;
	font-family: 'Miso-Light';
	font-size: 38px;
	text-transform: uppercase;
	text-align: left;
}

.about-section h1.title{
	color: #9C7B36;
	font-family: 'Miso-Light';
	font-size: 38px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 50px;
}

.about-section h2{
	color: #58585B;
	text-align: left;
	font-family: 'Miso-Light';
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 40px;
}

.about-section h3{
	color: #58585B;
	text-align: left;
	font-family: 'Miso-Light';
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
}

.about-section .column1{
	column-count: 1;
	margin-bottom: 10%
}

.about-section .cuote{
	color: #9C7B36;
	text-align: center;
	font-family: 'Brittes';
	font-size: 32px;
	margin-bottom: 0;
	font-style: normal;
}

.about-section .lujo div.cuote{
	color: #808284;
	text-align: left;
	font-family: 'Miso-Light';
	font-size: 20px;
	padding: 0
}

.DT{
	display: none ;
}

.MV{
	display: block ;
}

#confirm-reserv .modal-body{
	background: white;
	height: 140px
} 

#confirm-reserv .modal-content{
	background: #8DD0C4;
}


#confirm-reserv .modal-body img{
	position: absolute;
    left: 50%;
    margin-left: -109.5px !important;  /* 50% of your logo width */
    display: block;
}

#modal-concierge .modal-body img{
	position: relative;
    /*left: 50%;*/
    margin-left: -47px !important;  /* 50% of your logo width */
    display: block;
}

#confirm-reserv .button-space{
	position: absolute;
	right: 0;
	height: 0;
}

#confirm-reserv #confirm-text{
	margin-top: 20% 20%;
	text-align: center;
	line-height: 60px;
}

#confirm-reserv img.bullet{
	position: relative;
    left: 50%;
    margin-left: -21px !important;  /* 50% of your logo width */
    display: block;
    margin-top: 10px;
}

#confirm-reserv button{
	position: relative;
	top: 35px;
	left: 50%;
	margin-left: -25% !important;  /* 50% of your logo width */
	border: 1px solid #a58929;
    color: #a58929;
    width: 50%;
    background: transparent;
    text-transform: uppercase;
}

.form-header{
	padding: 1.5% 0;
	text-transform: uppercase;
	color: #4c4c4c;
	background-image: url('../img/border_black_footer.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 35px;
}

#confirm-reserv .DT{
	display: none;
}

#confirm-reserv .MV{
	display: block;
}

#modal-billing label {
    width: 20%;
    padding-top: 17px;
    float: left;
    text-transform: uppercase;
}

#modal-billing input, #modal-billing select {

    margin-right: 20px !important;
    margin-top: 10px;
    
}

#modal-billing input, #modal-billing input[type=date], #modal-billing input[name=hotel], #modal-billing select[name=room]  {
    width: 100% !important;
    float: left;
}


#modal-concierge .modal-body{
	height: 100%
}

#modal-concierge label {
    width: 30%;
    padding-top: 17px;
    float: left;
    text-transform: uppercase;
    color: #7BA399;
    font-weight: lighter;
}

#modal-concierge .modal-body{
	padding: 30px;
}

#modal-concierge input, #modal-concierge input[name=birth], #modal-concierge input[name=phone], #modal-concierge input[name=email]  {
    width: 25% !important;
    float: left;
}

#modal-concierge textarea{
    width: 75% !important;
    float: left;
}

#modal-concierge #sendConcierge{
	position: relative;
	top: 35px;
	left: 50%;
	margin-left: -25% !important;  /* 50% of your logo width */
	border: 1px solid #a58929;
    color: #a58929;
    width: 50%;
    background: transparent;
    text-transform: uppercase;
}

.conciergeCuote{
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #7BA399;
	font-family: 'Miso-Light';
}

.square-radio {
    border: 1px solid black;
    margin: 2px;
    width: 34px;
    height: 34px;
    position: relative;
    float: left;
    margin-top: 10px;
    background: white;
    border: none;
    font-size: 15px;
    padding: 7px 12px;
    color: #7BA399;
    
}
.square-radio--clicked .square-radio--content{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #7BA399;
    width: 20px;
    height: 20px;
}

.marginLeft{
	margin-right: 20%;
}

#modal-concierge .modal-body{
	padding: 30px;
}

#modal-concierge input, #modal-concierge input[name=birth], #modal-concierge input[name=phone], #modal-concierge input[name=email]  {
    width: 25% !important;
    float: left;
    margin-right: 1%;
    border:none;
	border-radius: 0;
}

#modal-concierge input[name=email], #modal-concierge input[name=phone]{
    width: 47% ;
    float: left;
    margin-right: 3%;
    border-radius:0;
}

#modal-concierge textarea, #modal-concierge input[name=name]{
    width: 75% !important;
    float: left;
    border-radius: 0;
    border:none;
}

#modal-concierge textarea[placeholder]{
	color: unset !important;
	padding: 6px 12px;
}

#modal-concierge textarea, #modal-concierge input, #modal-concierge select{
	margin-top: 10px
}

#modal-concierge input{
	border-radius: 0;

}

/*--------------------------------------------------------------------------------------------------------*/


/*NAV*/














.header img{
	max-height: 106px;
	margin-top: 2.7%;
	vertical-align: middle;
}

em{
    font-style: normal;
}

label{
    font-weight: lighter;
    color: #7BA399;
}

/*LOADER*/

.loader {
	background: #e9f4f2;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
}
#intro-loader {
	width: 219px;
	height: 106px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -53px 0 0 -109.5px;
	background: url("../img/logo.png");
}

.modal-content {
	border-radius: 0;
	background-color: #C2E5DF;
}

.modal-header{
	border-bottom: 0;
	padding: 0;
}

.modal-header span{
	font-family: 'ArquitectaLight';
	font-size: 40px;
	text-transform: uppercase;
	margin-right: 5px;
}

.hotel-description {
	font-family: 'ArquitectaLight';
}


@media (min-width: 320px) {

	.close_button{
		padding-left:300px;

	}

	#modal-billing .modal-body{

		overflow-x: hidden;
		width:98%;
		padding-left:2%;
	}

	img.paypal{
		width: 77%;
	}

	#reservation-form select {
	    width: 45%;
	}

	#reservation-form select[name=room] {
	    width: 50%;
	}

	.navigation-form .text{
		width:41px;
		height:40px;
		font-size:10px;
		color:#535353;
		line-height:12px;
		text-align:center;
		float: left;
		margin: 5px 7.5%;
		text-transform: uppercase;
	}

	.circle {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    font-size: 25px;
	    color: #fff;
	    line-height: 40px;
	    text-align: center;
	    background: #9bd4c5;
	    float: left;
	    margin: 5px 9%;
	}

	.marginLeft {
		margin-right: 30%;
	}

	#modal-concierge #sendConcierge{
		position: relative;
		top: 20px;
		left: 50%;
		margin-left: -25% !important;  /* 50% of your logo width */
		border: 1px solid #a58929;
	    color: #a58929;
	    width: 50%;
	    background: transparent;
	    text-transform: uppercase;
	}

	#modal-concierge input, #modal-concierge input[name=birth], #modal-concierge input[name=phone], #modal-concierge input[name=email]  {
	    width: 40% !important;
	    float: left;
	    margin-right: 1%
	}

	#modal-concierge input[name=birth_year] {
	    width: 20% !important;
	    float: left;
	    margin-right: 10%
	}

	#modal-concierge input[name=name], #modal-concierge input[name=phone], #modal-concierge input[name=email], #modal-concierge textarea {
	    width: 100% !important;
	    float: left;
	    margin-right: 1%
	}

	#modal-concierge select[name=sexo] {
	    width: 100% !important;
	    float: left;
	    margin-right: 1%;
	    margin-top: 10px;
	    border:none;
	    border-radius: 0;
	}

	.portfolio-item {
		margin-left: 21.5% !important;
	}

	.footer-sign div {
	    line-height: 15px;
	    font-size: 9px;
	    color: #9C7B36;
	}

	.footer-info {
		padding-top: 0;
	}

	.footer-legal div, .footer-legal a {
	    padding: 6px 15px;			
	}

	.pack-desc {
	    margin: 37px auto;
	    position:relative;
	}

	.slider-hotels{
		margin-top: 70px;
	}

	.pack {
        margin: 25px 10px;
	}

	.pack button{
	    margin-top: 5px;
    	width: 65%;
	}
	/*---------------------------------- 320 ------------------------------------------------*/
	.hotel-packs{
		display: none;
	}

	.hotel-description {
	    letter-spacing: 0.1em;
	    font-size: 1.1em;
	}

	.modal-dialog {
		margin: 5px;
		padding: 0;
		margin: 0;
	}

	.header{
		text-align: center;
		min-height: 70px;
	}

	.navbar {
	    min-height: 70px;
	    background-color: white;
	}

	.brand-toogle {
	    position: absolute;
	    top: 10%;
	    left: 50%;
	    margin-left: -32px !important;  /* 50% of your logo width */
	    display: block;
	}

	.home-menu{
		display: none !important;
	}

	.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	    margin-top: 150px;
	}

	.nav li a {
		text-transform: uppercase;
		text-align: center;
		color: #9C7B36;
		font-size: 20px;
		padding: 10px 0;
		font-family: 'ArquitectaLight';
	}

	.contact-toogle {
		position: absolute;
		bottom: 20px;
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}

	.contact-toogle a{
		padding: 0 10px;
	}

	.social-toogle {
		position: absolute;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		background-color: #9C7B36;
	}

	.social-toogle a{
		padding: 0 15px;
	}

	.social-toogle a img, .contact-toogle a img{
		margin-top: 0;
	}

	/*.modal {
		min-width: 80%;
		min-height: 100%;
	}

	.modal-content {
		min-width: 80%;
		min-height: 100%;
	}

	.modal-header {
		max-width: 80%;
		min-height: 100%;
	}*/

	.modal-dialog, .modal-content {
	    /* 80% of window height */
	    height: 100%;
	}

	.modal-body {
	    /* 100% = dialog height, 120px = header + footer */
	    /*max-height: calc(100% - 120px);*/
	    max-height: 100%;
	    overflow-y: scroll;
	    padding: 0;
	}

	.step2, .step3{
		margin-left: 20%;
	}

	.slider {
	    margin-bottom: 10px;
	    margin-top: 70px;
	}

	.slide_text {
	    padding: 0;
	    height: 26%;
	}

	.slide_title {
	    text-align: center;
	    font-size: 1em;
	}

	.flex-control-paging{
		display: none;
	}

	#portfolio-wrap {
		max-width: 418px;
	}

	.mosaic-see-more{
		border: 1px solid #696969;
		width: 93%;
		text-align: center;
		color: #696969;
		margin-bottom: 20px;
	}

	.more-hotels{
		width: 100%;
		text-align: center;
		margin: 15px 0;
	}

	.hotel-description div{
		text-align: left;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;

	    padding: 0 65px;
	}

	.button-space{
		height: 40px;
	}

	.button-space img{
		width: 40px;
		height: 40px;
	}

	.social{
		display: none;
	}

	.footer a{
		color: #696969;
	}

	.footer .footer-legal a{
		color: #696969;
		letter-spacing: normal;
		font-size: 9px;
	}

	.footer-info {
		width: auto;
	}

	.footer-info .footer-column {
		padding-left: 10px;
		padding-right: 10px
	}

	.logo{
		display: none;
	}

	.contact{
		width: 50%;
	}

	.about{
		width: 50%;
	}

	.billing{
		display: none;
	}

	.footer {
	    height: 320px;
	}

	.footer-legal div{
		padding: 10px 0;
		font-size: 5px;
	}

	.footer-legal .copy {
		display: none;
	}

	.footer-legal .cookies {
		width: 33.3%;
	}

	.footer-legal .legal {
		/*width: 33.3%;*/
	}

	.footer-legal .privacy {
		width: 33.3%;
	}

	.footer-legal {
		margin: 3px auto 3px auto;
		min-height: 20px;
	}

	.footer-sign {
	    text-align: center;
	    padding-top: 14px;
	}

	.footer-sign .copy{
		color: #58595B;
	}

	.about-section .qejdm img.special{
		display: none;
	}

	.about-section img{
		width: 100%;
	    padding-top: 70px;

	}

	.hide{
		display: none;
	}

	/* --------------------------------------------- PromoTemp --------------------------------------------- */

	.packsTemp{
		margin-top: 79px;
		background-color: #cce9e5;
	}

	.packsTemp .oneProm{
		position: relative;
		min-height: 400px;
		max-height: 600px;
	}

	.packsTemp .oneProm div{
		position: absolute;
	}

	.oneProm .onePromoFrame {
		display: none;
	}

	.oneProm > .img-responsive {
		position: relative;
		top: 70px;
	}

	.oneProm div {
		color: #656565;
		font-family: 'ArquitectaMedium';
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		width: 100%;
	}

	.oneProm .promoTitle {
		height: 70px;
		top: 0px;
		left: calc(50% - 50%);
		font-size: 22px;
		line-height: 1em;
		padding-top: 15px;
	}

	.oneProm .promoTitle .promoTitleExtra {
		font-size: 14px;
	}

	.oneProm .promoHotel {
		width: 70%;
		bottom: calc(50% - 110px);
		left: calc(50% - 35%);
		font-size: 22px;
		line-height: 1em;
		letter-spacing: 1px;
		height: auto;
	}

	.oneProm .promoHotel span, .oneProm .promoFrom {
		font-size: 14px;
		line-height: 2em;
	}

	.oneProm .price {
		height: 35px;
		top: calc(50% - -4px);
		left: calc(50% - 204px);
		font-family: 'Miso-Light';
		font-size: 31.5px;
	}

	.oneProm .price {
		height: 25px;
		top: 330px;
		left: calc(50% - 50%);
		font-family: 'Miso-Light';
		font-size: 25px;
	}

	.oneProm .travelNow {
		height: 25px;
		top: calc(50% - -170px);
		left: calc(50% - 50%);
		text-align: center;
	}

	.oneProm .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 60px;
		cursor: pointer;
	}

	.threeProm {
		position: relative;
		height: 470px;
	}

	.threeProm div {
		position: relative;
		background-color: #d0e8e5;
		width: 100%;
		height: auto;
		color: #5e5e5e;
	}

	.threeProm .promoTitle {
	    height: 70px;
	    top: 0px;
	    left: calc(50% - 50%);
	    font-size: 22px;
	    line-height: 1em;
	    padding-top: 15px;
	    text-transform: uppercase;
	    text-align: center;
	}

	.threeProm .promoTitle .promoTitleExtra {
		font-size: 14px;
	}

	.threeProm .promOne, .threeProm .promTwo, .threeProm .promThree {
		margin-bottom: 20px;
		height: 108px;
	}

	.threeProm .promOne {
		height: 178px;
	}

	.threeProm .crop {
		width: 52%;
		left: 0px;
		bottom: 97px;
		overflow: hidden;
		height: 107px;
	}

	.threeProm .crop img {
		width: 100%;
		margin: -10% 0 0 -10%;
	}

	.inter div {
		color: #5e5e5e;;

	}

	.threeProm .promoHotel, .threeProm .promoFrom, .threeProm .promoPrice, .threeProm .promoDesc, .threeProm .promoDetails {
		font-family: 'ArquitectaLight';
		text-transform: uppercase;
		text-align: left;
		position: relative;
		height: 70px;
		padding: 5px;
		float: none;
		position: relative;
		left: 52%;
		width: 48%;
	}

	.threeProm .promoHotel{
		font-family: 'ArquitectaMedium';
		font-size: 13px;
		height: auto !important;
		line-height: 1em;
	}

	.threeProm .promoFrom{
		font-size: 14px;
		height: auto !important;
		line-height: 1em;
	}

	.threeProm .promoDetails {
		font-size: 11px;
		height: auto;
	}

	.threeProm .promoDetails a {
		color: #5e5e5e;
		text-decoration: underline;
	}

	.threeProm .promoPrice{
		font-family: 'Miso-Light';
		font-size: 19px;
		height: auto !important;
		line-height: 1em;
	}

	.threeProm .promoDesc{
		font-family: 'Miso-Light';
		font-size: 20px;
		height: auto !important;
		line-height: 1em;
	}

	.threeProm img{
		position: absolute;
		bottom: 0px;
	}

	.threeProm .travelNow {
		background-color: transparent;
		height: auto;
		top: 10px;
		text-align: left;
		text-transform: uppercase;
		left: 52%;
		width: 48%;
	}

	.threeProm .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 30px;
		font-family: 'ArquitectaLight';
		font-size: 12px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.modal-dialog .flexslider .flex-control-nav {
		display: none;
	}

	.promoContent .exclusiveComm {
		text-align: center;
		font-family: 'Miso-Light';
		font-size: 22px;
		background-color: rgba(255,255,255,.4);
		height: 45px;
		line-height: 52px;
	}

	.promoContent .promName, .promoContent .promoPrice, .promoContent .promoDesc {
		padding:0px 36px;
		color: #a58018;
		text-transform: uppercase;
		font-family: 'Miso-Light';
	}

	.promoContent .promName {
		font-size: 52px;
		padding: 20px 36px;
		line-height: .7em
	}

	.MV .promoContent .promName {
		font-size: 30px;
		padding: 20px 36px;
		line-height: .7em;
		background-color:white;
		color: #5e5e5e;
		border-bottom: 1px solid black;
		text-align: center;
	}

	.promoContent .promoPrice{
		font-size: 57px;
		padding-bottom: 20px;
		line-height: .7em;
	}

	.MV .promoContent .promoPrice{
		padding-top: 10px;
		font-size: 27px;
		color: #5e5e5e;
		text-align: center;
	}

	.promoContent .promoPrice span {
		font-size: 27px;
	}

	.MV .promoContent .promoPrice span {
		font-size: 16px;
	}

	.promoContent .promoDesc {
		font-size: 16.5px;
		color: #58595b;
		height: 200px;
		line-height: 1.2em;
	}

	.MV .promoContent .promoDesc {
		font-size: 16.5px;
		font-family: 'Miso-Light';
		color: #5e5e5e;
		height: auto !important;
		padding: 20px 20% 0 20%;
	}

	.MV .closeDetailModal {
		background-color: white;
	}

	.promoContent .travelNow {
		font-size: 16.5px;
		color: #58595b;
		text-transform: uppercase;
		text-align: center;
	}

	.promoContent .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 70px;
		font-family: 'ArquitectaLight';
		font-size: 20px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.travelNow a:hover {
		text-decoration: none;
	}

	/* ---------------------------------- promoExclusive ------------------------------------- */

	.packsExclusive{
		margin-top: 79px;
		background-color: white;
		width: 100%;
	}

	.packsExclusive .onePromEx{
		position: relative;
		/*float:left;*/
		min-height: auto !important;
		max-height: 800px;
	}

	.packsExclusive .onePromEx div{
		position: relative;
	}

	.onePromEx > .img-responsive {
		position: absolute;
		top: 0px;
	}

	.onePromEx div {
		color: #878786;
		font-family: 'ArquitectaLight';
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		width: 100%;
	}

	.onePromEx .promoTitle {
		height: auto !important;
		left: calc(50% - 50%);
		top: 80px;
		font-size: 27px;
		line-height: 2em;
		padding-top: 0px;
		color: white;
		font-family: 'ArquitectaBold';
	}

	.onePromEx .promoDesc {
		height: auto !important;
		left: calc(50% - 276px);
		font-size: 24.5px;
		line-height: 1em;
		padding-top: 0px;
		text-transform: none;
	}

	.onePromEx .promoDesc a {
		font-size: 14px;
		text-decoration: underline;
		text-transform: uppercase;
		color: #878786;
	}

	.onePromEx .promoHotel {
		width: 100%;
		height: 25px;
		top: 40px;
		left: calc(50% - 50%);
		font-size: 19px;
		line-height: 2em;
		margin-top: 20px;
		color: white;
	}

	.onePromEx .promoHotel span{
		font-size: 11px;
		display: none;
	}

	.onePromEx .price {
		height: 45px;
		top: 50px;
		font-family: 'Miso-Light';
		font-size: 30px;
		line-height: 1em;
		margin: 20% 0 15% 0;
	}

	.onePromEx .price div{
		font-size: 16px;
		display: inline;
	}

	.onePromEx .price span{
		font-size: 16px;
	}

	.onePromEx .travelNow {
		height: 25px;
		top: calc(50% - -60px);
		text-align: center;
	}

	.onePromEx .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 60px;
		cursor: pointer;
	}

	.threePromEx {
		position: relative;
		/*float:left;*/
		padding: 50px 0px;
		height: 420px;
	}

	.threePromEx div {
		position: relative;
		float: none;
		width: 100%;
		color: #999f9f;

	}

	.threePromEx .crop {
		width: 48%;
		left: 0px;
		overflow: hidden;
		height: 48%;
		float: left;
	}

	.threePromEx .crop img {
		width: 100%;
		margin: -10% 0 0 0;
	}

	.inter div {
		background-color: #cce9e5;
		color: #5e5e5e;;

	}

	.threePromEx .promOne, .threePromEx .middle {
		margin-bottom: 6%;
	}

	.threePromEx .promTwo {
		margin-top: 180px;
	}

	.threePromEx .promoHotel, .threePromEx .promoFrom, .threePromEx .promoPrice, .threePromEx .promoDesc, .threePromEx .promoName, .threePromEx .promoTitle, .threePromEx .promoTitleExtra {
		
		font-family: 'ArquitectaLight';
		text-transform: uppercase;
		text-align: center;
		position: relative;
		width: 52%;
		height: 70px;
		padding: 24px 3px;
		left: 0px;
		float: left;
	}

	.threePromEx .promoHotel{
		font-family: 'ArquitectaMedium';
		/*font-size: 24.5px;*/
		font-size: 19.5px;
		height: auto !important;
		line-height: 1em;
		padding-bottom: 0px;
		padding-top: 10px;
	}

	.threePromEx .promoTitle{
		font-size: 16px;
		max-height: 2em;
		line-height: 1em;
		padding-top: 0px;
		padding-bottom: 13px;
	}

	.threePromEx .promoTitleExtra{
		font-size: 18px;
		padding-bottom: 0px;
		padding-top: 0px;
		height: auto !important;
	}

	.threePromEx .promoFrom{
		font-size: 14px;
		height: auto !important;
		padding: 0px 23px;
		line-height: 1em;
	}

	.threePromEx .promoPrice{
		font-family: 'Miso-Light';
		/*font-size: 31.5px;*/
		font-size: 24.5px;
		height: auto !important;
		padding: 0px 23px;
		line-height: 1em;
	}

	.threePromEx .promoDesc{
		font-family: 'Miso-Light';
		font-size: 19px;
		height: auto !important;
		padding: 24px 23px 24px 23px;
		line-height: 1em;
	}

	.threePromEx .promoName{
		font-family: 'ArquitectaLight';
		font-size: 20px;
		height: auto !important;
		padding: 0px 23px 5px 23px;
		line-height: 1em;
	}

	.threePromEx .promoName span {
		display: inline;
		font-size: 11px;
	}

	.threePromEx .travelNow {
		background-color: transparent;
		height: 25px !important;
		top: 10px;
		text-align: center;
		text-transform: uppercase;
		left: 0;
		width: 52%;
		float: left;
	}

	.threePromEx .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 23px;
		font-family: 'ArquitectaLight';
		font-size: 14px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.modal-dialog .flexslider .flex-control-nav {
		display: none;
	}

	.promoContent .exclusiveComm {
		text-align: center;
		font-family: 'Miso-Light';
		font-size: 22px;
		background-color: rgba(255,255,255,.4);
		height: 45px;
		line-height: 52px;
	}

	.promoContent .promName, .promoContent .promoPrice, .promoContent .promoDesc {
		padding:0px 36px;
		color: #a58018;
		text-transform: uppercase;
		font-family: 'Miso-Light';
	}

	.promoContent .promName {
		font-size: 52px;
		padding: 20px 36px;
		line-height: .7em
	}

	.promoContent .promoPrice{
		font-size: 57px;
		padding-bottom: 20px;
		line-height: .7em;
	}

	.promoContent .promoPrice span {
		font-size: 27px;
	}

	.promoContent .promoDesc {
		font-size: 16.5px;
		color: #58595b;
		height: 200px;
		line-height: 1.2em;
	}

	.promoContent .travelNow {
		font-size: 16.5px;
		color: #58595b;
		text-transform: uppercase;
		text-align: center;
	}

	.promoContent .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 70px;
		font-family: 'ArquitectaLight';
		font-size: 20px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.travelNow a:hover {
		text-decoration: none;
	}

}

@media (min-width: 360px) {
	.slide_text {
        height: 22%;
	}

	.portfolio-item {
		margin-left: 25% !important;
	}

	#reservation-form input[name=expirationmonth], #reservation-form input[name=expirationyear] {
	    width: 20%;
	}

	.leyenda-digitos{
		margin-right: 14% !important;
	}

	.nav li a {
	    text-transform: uppercase;
	    text-align: center;
	    color: #9C7B36;
	    font-size: 20px;
	    padding: 15px 0;
	    font-family: 'ArquitectaLight';
	}

	/*.oneProm .promoHotel {
		width: 70%;
		bottom: calc(50% - 35%);
		left: calc(50% - 35%);
		font-size: 22px;
		line-height: 1em;
		letter-spacing: 1px;
		height: auto;
	}*/

	.oneProm .price {
		top: 360px;
	}

	.packsTemp .oneProm{
		position: relative;
		min-height: 450px;
		max-height: 600px;
	}

	.threePromEx {
	    height: 450px;
	}

	.threePromEx .promTwo {
	    margin-top: 200px;
	}

	.onePromEx .price {
	    height: 45px;
	    top: 60px;
	    font-family: 'Miso-Light';
	    font-size: 30px;
	    line-height: 1em;
	    margin: 20% 0 15% 0;
	}
}

@media (min-width: 425px) {

	#reservation-form input[name=expirationmonth], #reservation-form input[name=expirationyear] {
	    width: 21%;
	}

		.logo-footer{
	position:absolute;padding-bottom:2px;
}

	#reservation-form select {
	    width: 100%;
	    margin-right: 10px;
	}

	.navigation-form .text{
		width:61px;
		height:40px;
		font-size:10px;
		color:#535353;
		line-height:12px;
		text-align:center;
		float: left;
		margin: 5px 17px;
		text-transform: uppercase;
	}

	.circle {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    font-size: 25px;
	    color: #fff;
	    line-height: 40px;
	    text-align: center;
	    background: #9bd4c5;
	    float: left;
	    margin: 5px 10%;
	}

	.marginLeft {
		margin-right: 40%;
	}

	#modal-concierge #sendConcierge{
		position: relative;
		top: 20px;
		left: 50%;
		margin-left: -25% !important;  /* 50% of your logo width */
		border: 1px solid #a58929;
	    color: #a58929;
	    width: 50%;
	    background: transparent;
	    text-transform: uppercase;
	}

	#modal-concierge input, #modal-concierge input[name=birth], #modal-concierge input[name=phone], #modal-concierge input[name=email]  {
	    width: 75% !important;
	    float: left;
	    margin-right: 1%
	}

	#modal-concierge input[name=name], #modal-concierge input[name=phone], #modal-concierge input[name=email], #modal-concierge textarea {
	    width: 100% !important;
	    float: left;
	    margin-right: 1%
	}

	#reservation-form select {
	    width: 100%;
	    margin-right: 10px;
	}

	#reservation-form select[name=kids], #reservation-form select[name=adults] {
	    width: 46%;
	    margin-right: 10px;
	    color: #999;
	}

	#modal-concierge select[name=sexo], #modal-concierge input[name=birth] {
	    width: 30% !important;
	    float: left;
	    margin-right: 1%
	}

	#modal-concierge input[name=birth] {
	    width: 30% !important;
	    float: left;
	    margin-right: 1%;
	   	margin-left:1%;
	}

	#modal-concierge select[name=sexo] {
	    /*width: 47% !important;*/
	    width: 100% !important;
	    float: left;
	    margin-right: 1%;
	    margin-top: 10px;
	}

	#reservation-form label {
    width: 50%;
    float: left;
    color: #7ba499;
    text-transform: uppercase;
    margin-top: 9px;
	}

	.portfolio-item {
		margin-left: 3% !important;

	}

	.footer-sign div {
	    line-height: 15px;
	    font-size: 9px;
	    color: #9C7B36;
	}

	.footer-info {
		padding-top: 0;
	}

	.footer-legal div, .footer-legal a {
	    padding: 6px 15px;			
	}

	.pack-desc {
	    margin: 37px auto;
	    position:relative;
	}

	.slider-hotels{
		margin-top: 70px;
	}

	.pack {
        margin: 25px 5%;
	}

	.pack button{
	    margin-top: 5px;
    	width: 50%;
	}
	/*---------------------------------- 425 ------------------------------------------------*/
	.hotel-packs{
		display: none;
	}

	.hotel-description {
	    letter-spacing: 0.1em;
	    font-size: 1.1em;
	}

	.modal-dialog {
		margin: 5px;
		padding: 0;
		margin: 0;
	}

	.header{
		text-align: center;
		min-height: 70px !important;
	}

	.navbar {
	    min-height: 70px;
	    background-color: white;
	}

	.brand-toogle {
	    position: absolute;
	    top: 10%;
	    left: 50%;
	    margin-left: -32px !important;  /* 50% of your logo width */
	    display: block;
	}

	.home-menu{
		display: none !important;
	}

	.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	    margin-top: 150px;
	}

	.nav li a {
		text-transform: uppercase;
		text-align: center;
		color: #9C7B36;
		font-size: 30px;
		padding: 20px 0;
		font-family: 'ArquitectaLight';
	}

	.contact-toogle {
		position: absolute;
		bottom: 20px;
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}

	.contact-toogle a{
		padding: 0 10px;
	}

	.social-toogle {
		position: absolute;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		background-color: #9C7B36;
	}

	.social-toogle a{
		padding: 0 15px;
	}

	.social-toogle a img, .contact-toogle a img{
		margin-top: 0;
	}

	/*.modal {
		min-width: 80%;
		min-height: 100%;
	}

	.modal-content {
		min-width: 80%;
		min-height: 100%;
	}

	.modal-header {
		max-width: 80%;
		min-height: 100%;
	}*/

	.modal-dialog, .modal-content {
	    /* 80% of window height */
	    height: 100%;
	}

	.modal-body {
	    /* 100% = dialog height, 120px = header + footer */
	    /*max-height: calc(100% - 120px);*/
	    max-height: 100%;
	    overflow-y: scroll;
	}

	.step2, .step3{
		margin-left: 20%;
	}

	.slider {
	    margin-bottom: 10px;
	    margin-top: 70px;
	}

	.slide_text {
	    padding: 0;
        height: 24%;
	}

	.slide_title {
	    text-align: center;
	    font-size: 1em;
	}

	.flex-control-paging{
		display: none;
	}

	#portfolio-wrap {
		max-width: 418px;
	}

	.mosaic-see-more{
		border: 1px solid #696969;
		width: 93%;
		text-align: center;
		color: #696969;
		margin-bottom: 20px;
	}

	.more-hotels{
		width: 100%;
		text-align: center;
		margin: 15px 0;
	}

	.hotel-description div{
		text-align: left;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;

	    padding: 0 65px;
	}

	.button-space{
		height: 40px;
	}

	.button-space img{
		width: 40px;
		height: 40px;
	}

	.social{
		display: none;
	}

	.footer a{
		color: #696969;
	}

	.footer .footer-legal a{
		color: #696969;
		letter-spacing: normal;
		font-size: 9px;
		padding-left: 28px;
		text-align: left;

	}

	.footer-info {
		width: auto;
	}

	.footer-info .footer-column {
		padding-left: 10px;
		padding-right: 10px
	}

	.logo{
		display: none;
	}


	.contact{
		width: 50%;
	}

	.about{
		width: 50%;
	}

	.billing{
		display: none;
	}

	.footer {
	    height: 280px;
	}

	.footer-legal div{
		padding: 10px 0;
		font-size: 5px;
	}

	.footer-legal .copy {
		display: none;
	}

	.footer-legal .cookies {
		width: 33.3%;
	}

	.footer-legal .legal {
		/*width: 33.3%;*/
	}

	.footer-legal .privacy {
		width: 33.3%;
	}

	.footer-legal {
		margin: 3px auto 3px auto;
		min-height: 20px;
	}

	.footer-sign {
	    text-align: center;
	    padding-top: 14px;
	}

	.footer-sign .copy{
		color: #58595B;
	}

	.about-section .qejdm img.special{
		display: none;
	}

	.about-section img{
		width: 100%;
	    padding-top: 70px;

	}

	.hide{
		display: none;
	}

	.leyenda-digitos {
	    margin-right: 16% !important;
	}

	.oneProm .price {
		top: 380px;
	}

	.packsTemp .oneProm{
		position: relative;
		min-height: 500px;
		max-height: 600px;
	}

	.threePromEx {
	    height: 550px;
	}

	.threePromEx .promTwo {
	    margin-top: 250px;
	}

	.onePromEx .price {
	    top: 60px;
	}

	.onePromEx .promoTitle {
	    top: 110px;
	}

	.onePromEx .promoHotel {
	    top: 70px;
	}

	.onePromEx .price {
	    top: 90px;
	}

	.packsExclusive .onePromEx {
	    min-height: 350px !important;
	}

	.onePromEx .travelNow {
	    top: 20px;
	}

	.threePromEx .promoTitle {
	    padding-bottom: 30px;
	}

}

@media (min-width: 488px){
	.modal-body{
		padding: 15px;
	}


	
	.button-space{
		background-color: transparent;
	}

	#modal-billing .modal-body{

		overflow-x: hidden;
	}

	.packsTemp .oneProm{
		position: relative;
		min-height: 500px;
		max-height: 600px;
	}

	.oneProm .promoHotel {
		width: 70%;
		bottom: calc(50% - 140px);
		left: calc(50% - 35%);
		font-size: 22px;
		line-height: 1em;
		letter-spacing: 1px;
		height: auto;
	}

	.oneProm .promoHotel span, .oneProm .promoFrom {
		font-size: 14px;
		line-height: 2em;
	}

	.oneProm .price {
		height: 25px;
		top: 405px;
		left: calc(50% - 50%);
		font-family: 'Miso-Light';
		font-size: 25px;
	}

	.oneProm .travelNow {
		height: 25px;
		top: calc(50% - -215px);
		left: calc(50% - 50%);
		text-align: center;
	}

	.onePromEx .price {
	    top: 130px;
	}

	.packsExclusive .onePromEx {
	    min-height: 400px !important;
	}

	.onePromEx .travelNow {
	    top: 50px;
	}

	.threePromEx .promoTitle {
	    padding-bottom: 60px;
	}

	.threePromEx .promoHotel {
	    padding-top: 15px;
	}

	.threePromEx {
	    height: 600px;
	}
}

@media (min-width: 640px){




	.close_button{
		padding-left:430px;

	}

	.circle {
	    margin: 5px 14%;
	}
.logo-footer{
	position:absolute;padding-bottom:1.1px;
}


	.navigation-form .text {
	    width: 26.3%;
	}

	#reservation-form input[name=expirationmonth], #reservation-form input[name=expirationyear] {
	    width: 22.7%;
	}

	.packsTemp .oneProm{
		position: relative;
		min-height: 600px;
		max-height: 600px;
	}

	.oneProm .promoHotel {
		width: 70%;
		bottom: calc(50% - 185px);
		left: calc(50% - 35%);
		font-size: 22px;
		line-height: 1em;
		letter-spacing: 1px;
		height: auto;
	}

	.oneProm .promoHotel span, .oneProm .promoFrom {
		font-size: 14px;
		line-height: 2em;
	}

	.oneProm .price {
		height: 25px;
		top: 515px;
		left: calc(50% - 50%);
		font-family: 'Miso-Light';
		font-size: 25px;
	}

	.oneProm .travelNow {
		height: 25px;
		top: calc(50% - -265px);
		left: calc(50% - 50%);
		text-align: center;
	}

	.threeProm .crop {
		width: 52%;
		left: 0px;
		bottom: 97px;
		overflow: hidden;
		height: 107px;
	}

	.threeProm .crop img {
		width: 100%;
		margin: -10% 0 -50% -10%;
	}

	.threeProm {
	    position: relative;
	    height: 470px;
	    padding: 0 15%;
	}

	.threeProm .travelNow a {
	    width: 205px;
	    height: 25px;
	    color: white;
	    background-color: #a58018;
	    padding: 5px 65px;
	    font-family: 'ArquitectaLight';
	    font-size: 12px;
	    letter-spacing: 1px;
	    cursor: pointer;
	}

	.onePromEx .promoTitle {
	    top: 180px;
	}

	.onePromEx .promoHotel {
	    top: 140px;
	}

	.onePromEx .price {
	    top: 190px;
	}

	.onePromEx .travelNow {
	    top: 80px;
	}

	.packsExclusive .onePromEx {
	    min-height: 500px !important;
	}

	.threePromEx .promTwo {
	    margin-top: 350px;
	}

	.threePromEx .promoTitle {
	    padding-bottom: 130px;
	}

	.threePromEx .promoHotel {
	    padding-top: 35px;
	}

	.threePromEx {
	    height: 750px;
	}

	.threePromEx .travelNow {
	    padding: 0px 23px;
	}
}

@media (min-width: 768px){

	/*NAV*/
.footer-info{
	height: 152px; 
}
#legal-separator{
	display:block;
}

	.footer_mb{
		display:none;
	}
	.footer_dsktp{
		display:block;
		width:50%;
	}
	.footer_dsktp_a{
		display:block;
		width:50%;
	}
.footer-legal div, .footer-legal a{
	width: 25%;
	
}



	.navbar-toggle{
		width: 65px;
		height: 48px;
	    position: relative;
	    float: left;
	    padding: 0;
	    margin-top: 16px;
	    margin-left: 38px;
	    margin-bottom: 15px;
	    background-color: transparent;
	    border: 0;
	    border-radius: 0;
	}

	.navbar-toggle svg{
		height: 48px;
		width: 48px;
	}

	.navbar{
		min-height: 145px;
	}

	.brand {
	    position: absolute;
	    left: 50%;
	    margin-left: -106px !important;  /* 50% of your logo width */
	    display: block;
	}

	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	    max-height: 1000px;
	}

	.nav li a:hover, .nav li a:focus {
		background-color: transparent;
		color: #58585B;
	}

	.nav li a.first{
		padding-left: 0;
	}

	.nav li a.last{
		padding-right: 0;
	}

	.nav li {
		width: calc((100% - 106px)/4);
	}

	.home-menu {
	    display: inline-block !important;
	    width: 211.3px !important;
	}

	.navbar .navbar-collapse {
	    text-align: center;
	    margin-top: 10px;
	    padding: 0;
	}

	/* ##### HOME SECTION ##### */

	.slider{
		margin-bottom: 160px;
	}

	.slide_text h1{
		color: #8FBDB0;
		font-size: 2em;
		margin: 0;
		padding: 0;
		font-family: 'Miso-Light';
		text-transform: uppercase;
		text-align:left;
	}
	.slide_text h2{
		color: #A6A8AB;
		font-size: 14px;
		margin: 0;
		text-align:left;
	}

	.flex-control-paging li a{
		background-color: #FFF;
		border: 1px solid #D1D2D4;
		box-shadow: none;

	}

	.flex-control-paging li a:hover{
		background-color: #D1D2D4;
		border: 1px solid #D1D2D4;
	}

	.flex-control-paging li a.flex-active{
		background-color: #D1D2D4;
		border: 1px solid #D1D2D4;
	}

	li.css a {
		border-radius: 0;
	}

	.slide_byline{
		font-family: 'ArquitectaLight';
		font-size: 15px;/*14*/
		text-align: left;
		background-image: url('../img/border_slide.png');
		background-repeat: repeat-y;
		min-height: 70px;
		max-height: 80px;
		background-position: left top;
		padding-right: 0;
	}

	.social{
		height: 42.5px;
		text-align: right;
		width: 88%;
		margin: 26px auto 0 auto;
		background: white;
	}

	.social a{
		margin-left: 33px;
	}

	.footer {
		background-color: #C2E5DF;
		height: 330px;
	    letter-spacing: 0.1em;
	}

	.footer-info{
		width: 82%;
		height: 152px;
		margin: 0 auto 35px auto;
		padding-top: 32px;
		font-family: 'ArquitectaLight';
		font-size: 14px;
		color: #58595B;
	}

	.footer-info h1{
		font-family: 'Brittes';
		font-size: 20px;
		padding: 0;
		margin: 0 0 10px 0;
		font-style: normal;
	}

	.footer-info p{
		font-size: 13px;
	}

	.footer-info .footer-column{
		font-family: 'ArquitectaLight';
		height: 117px;
		float: left;
		padding-left: 33px;
		text-align: left;
		padding-right: 0;
		display: block;
	}

	.logo{
		width: 12%; /*20.4%;*/
	}

	.contact{
		width: 34.3%;
		font-family: 'Miso';
	}
	.contact a{
		color: #58595B;
		text-decoration: none;
	}

	.about{
		background-image: url('../img/border_slide.png');
		background-repeat: repeat-y;
		background-position: left top;
		width: 33%;/*29.6%;*/
	}

	.about a{
		color: #929497;
		text-decoration: none;
	}

	.billing{
		background-image: url('../img/border_slide.png');
		background-repeat: repeat-y;
		background-position: left top;
		width: 15%;
		padding-top: 5%;
		font-size: 10px;
	}

	.billing a{
		color: #749A90;
		text-decoration: none;
	}
	.footer-legal {
		width: 88%;
		margin: 0 auto 10px auto;
		min-height: 45px;
	}

	.footer-legal div, .footer-legal a{
		float: left;
		width: 100%;
		font-size: 10.5px;
		text-align: center;
		padding: 6px 35px;
		/*background-image: url('../img/border_black_footer.png');
		background-repeat: repeat-x;
		background-position: left top;*/
		color: #333;
		text-decoration: none;
		letter-spacing: normal
	}

	.footer-legal .cookies{
		width: 25%;
	}

	.footer-legal .legal{
		/*width: 20%;*/
	}

	.footer-legal .privacy{
		width: 20%;
	}


	.footer-legal .copy{
		width: 55%;
		display: block;
		font-size: 9px;
		text-align: right;
		padding-right: 0;
	}

	.footer-sign{
		width: 88%;
		margin: 0 auto;
		padding-top: 28px;
		font-family: 'ArquitectaLight';
		font-size: 14px;
		text-align: right;
		background-image: url('../img/border_black_footer.png');
		background-repeat: repeat-x;
		background-position: left top;
	}

	.footer-sign div{
		line-height: 15px;
		font-size: 10px;
		color: #9C7B36;
	}

	.footer-sign img{
		vertical-align: baseline;
		height: 13px;
	}

	.navigation-form{
		min-height: 40px;
		margin: 0 auto;
		width: 80%;
		background-image: url('../img/border_black_footer.png');
		background-repeat: repeat-x;
		background-position: left 25px;
		/*background-size: 3px 80%;*/
	}

	.circle{
		width:40px;
		height:40px;
		border-radius:50%;
		font-size:25px;
		color:#fff;
		line-height:40px;
		text-align:center;
		background:#9bd4c5;
		float: left;
		margin: 5px 12%;
	}

	.navigation-form .text{
		width:80px;
		height:40px;
		font-size:12px;
		color:#535353;
		line-height:12px;
		text-align:center;
		float: left;
		margin: 5px 17px;
		text-transform: uppercase;
	}

	.navigation-form .active{
		color:#4c4c4c;
		font-size: 13px;
	}

	#reservation-form {
		width: 80%;
		margin: 0 auto;
	}

	#reservation-form button{
		border: 1px solid #a58929;
		color: #a58929;
		width: 100%;
		background: transparent;
		margin: 10px 0;
		text-transform: uppercase;
	}

	#modal-billing #sendBilling{
		border: 1px solid #a58929;
		color: #a58929;
		width: 100%;
		background: #a58929;
		color: white;
		margin: 10px 0;
		text-transform: uppercase;
	}

	#modal-billing em{
		width: 100%;
		color: #929396;
		/*float: left;*/
		margin-left: 20%;
		padding-top: 10px;
	}

	#reservation-form select, #reservation-form input[type=text], #reservation-form input[type=number]{
		width: 74%;
		margin: 5px 0;
		border-radius: 0;
		-webkit-appearance: none;
		border-style: none;
		text-transform: uppercase;
		float: left;
	}

	#reservation-form input[name=birth_year]{
		margin-right: 52%;
		width: 10% !important;
	}

	#reservation-form input[name=birth_day],#reservation-form input[name=birth_month]{
		width: 7% !important;
	}

	#reservation-form input[type=radio]{
		width: 100%;
		margin: 10px 0;
		color: #91c2ba !important;
		border-radius: 5px;
	}

	#reservation-form input[type=phone]{
		width: 26%;
	}

	input[placeholder], [placeholder], *[placeholder] {
	    /*color: #91c2ba !important;*/
	    text-transform: uppercase;
	}

	.header img {
	    max-height: 106px;
	    margin-top: 2.7%;
	    vertical-align: middle;
	}

	/*::-webkit-input-placeholder {
	   color: #91c2ba;
	   opacity: 1 !important;
	}

	:-moz-placeholder { 
	   color: #91c2ba;  
	}

	::-moz-placeholder { 
	   color: #91c2ba;  
	}

	:-ms-input-placeholder {  
	   color: #91c2ba;  
	}*/

	#reservation-form input[type=date], #reservation-form select{
		width: 45% ;
		margin-right: 10px;
	}

	#reservation-form select[name=room], #reservation-form textarea[name=observations]{
		width: 100% !important;
		border:none;
	}

	#reservation-form label{
		width: 50%;
		float: left;
		color: #7ba499;
		text-transform: uppercase;
	}

	#reservation-form .childSelect select{
		float: left;
		width: 40% !important;
		margin: 5px 5px 10px 5px;
	}

	#reservation-form .grid-form-step2 input, #reservation-form .grid-form-step2 select{
		float: left;
		width: 47% !important;
		margin: 5px 5px 10px 5px;
	}

	#reservation-form .radiobutton label{
		color: #57585b;
		width: 25%;
		font-size: 12px;
		line-height: 16px;
	}

	#reservation-form .radiobutton label img{
		max-height: 50px;
		width: auto;
	}

	#reservation-form .radiobutton #deposit{
		margin-right: 75%;
		/*width: 35%;*/
	}


	#reservation-form em{
		color: #929396;
	}

	#reservation-form p{
		color: #57585b;
		font-size: 14px;
		text-transform: uppercase;
	}

	#reservation-form input[type=radio]{
		float: left;
		width: 10%;
	}

	#reservation-form input[name=cvv]{
		float: left;
		width: 28%;
	    margin-right: 50%;
	}

	#reservation-form input[name=expirationmonth], #reservation-form input[name=expirationyear]{
		float: left;
		width: 22%;
		margin: 0 5px;
	}

	/*GRID*/
	#portfolio-wrap {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}
	#portfolio-wrap .portfolio-item {
		float: left;
		position: relative;
		margin-left: 0 !important;
	}
	#portfolio-wrap .portfolio-item img {
		max-width: 100%;
	}
	#portfolio-wrap .portfolio-item em{
		font-size: 14px;
		text-transform: uppercase;
		font-style: normal;
	}
	#portfolio-wrap .portfolio-item div{
		font-size: 14px;
		text-transform: uppercase;
		font-style: normal;
	}
	#portfolio-wrap .portfolio-item em.hotel {
		color: #58595B;
		font-size: 1.2em;
		line-height: 0;
	}
	#portfolio-wrap .portfolio-item div.hotel {
		color: #58595B;
		font-size: 1.2em;
		line-height: 0;
		height:6px;
	}
	#portfolio-wrap .portfolio-item em.place {
		color: #A6A8AB;
		line-height: 0;
	}
	#portfolio-wrap .portfolio-item a, #portfolio-wrap .portfolio-item a img {
		position: relative;
		overflow: hidden;
		display: block;
		text-decoration: none;
	}
	#portfolio-wrap .portfolio-item a .hover-items {
		position: absolute;
		background-color: rgba(208, 232, 229, 1);
		width: 100%;
		height: 100%;
	}
	#portfolio-wrap .portfolio-item a .hover-items span {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: left;
		height: 110px;
		margin: -68px 0 0 0;
		padding: 0 17px 0 17px
	}
	#portfolio-wrap .portfolio-item a .hover-items span i {
		color: #fff;
	}
	#portfolio-wrap .portfolio-item a .hover-items span em.lead {
		padding: 0;
		margin: 0;
		color: #9C7B36;
		font-size: 20px;
		line-height: 20px;
		display: block;
		text-transform: uppercase;
	}
	#portfolio-wrap .portfolio-item a .hover-items span em.price {
		padding: 0;
		color: #9C7B36;
		font-size: 40px;
		line-height: 40px;
		display: block;
		text-transform: uppercase;
	}
	#portfolio-wrap .portfolio-item a .hover-items span em {
		color: #9C7B36;
		font-style: normal;
		font-size: 14px;
		text-transform: uppercase;
	}
	#portfolio-wrap .portfolio-item a .hover-items span em.more {
		color: #9C7B36;
		font-style: normal;
		font-size: 14px;
		text-transform: uppercase;
		float: right;
		margin-top: 55px;
		margin-right: 10px;
		position: absolute;
		bottom: -42px;
		right: 13px;
	}

	.project-media, .project-description {
		margin: 70px 0 0 0;
		overflow: hidden;
		display: block;
	}
	.project-description h4 {
		display: inline-block;
		padding: 0px 0px 10px;
		font-weight: 600;
		border-bottom: 1px solid #DEDEDE;
		margin-top: 0;
	}
	.project-description .project-details {
		margin-bottom: 50px;
	}
	.project-description .list-info {
		margin: 0 0 10px 0;
		padding: 13px;
		background: #eaeaea;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.project-description .list-info i {
		color: #222;
	}
	.project-description .list-info span {
		font-weight: 600;
		color: #222;
	}
	.project-description .list-info em {
		font-size: 12px;
	}

	/* ##### LESS THAN 768 ##### */

	.hotel-back .flex-control-nav{
		background: #e9f4f2;
	}

	.slide_text .slide_byline{
		display: none;
	}

	.flex-control-paging{
		display: block;
	}

	.hotel-description, .hotel-packs, .hotel-secctions, .hotel-secctions button{
		background-color: #e9f4f2;
		width: 100%;
	}

	.hotel-secctions{
		width: 100%;
		height: 47px;
	}

	.hotel-secctions button{
		color: #a1a1a1;
		width: 30%;
		float: left;
		border-style: none;
		margin: 10px 10%;
		text-transform: uppercase;
		border-bottom-style: none;
	}

	.hotel-secctions .active{
		border-bottom: 2px solid #a1a1a1;
	}

	.hotel-description{
		text-align: center;
	}

	.hotel-description img{
		/*margin: 10%;*/
	}

	.hotel-packs{
		padding: 10px 0;
	}

	.pack {
		padding: 5px auto;
		height: 200px;
		margin: 25px 20px;
		color: #696969;
	}

	.pack img {
		width: 195px;
		float: left;
		margin-right: 10px;
	}

	.pack-desc{
		padding-top: 10px;
		height: 165px;
		margin: 10px auto;
		position:relative;
	}

	.pack button {
		color: #696969;
		text-transform: uppercase;
		border: 1px solid #696969;
		width: 45%;
		background: transparent;
		position: relative;
	}

	.pack-desc span em.lead {
		padding: 0;
		margin: 0;
		font-size: 20px;
		line-height: 20px;
		display: block;
		text-transform: uppercase;
	}
	.pack-desc span em.price {
		padding: 0;
		font-size: 33px;
		line-height: 33px;
		display: block;
		text-transform: uppercase;
	}
	.pack-desc span em, .pack-desc span em.currency {
		font-style: normal;
		font-size: 14px;
		text-transform: uppercase;
	}

	.pack-include{
			display: none;
		}

	.legal-section{
		font-family: 'ArquitectaLight';
		font-size: 14px;
		text-align: justify;
		background: #cbe4df;
		padding: 20px 5%;
	}

	.legal-section h1{
		font-size: 'ArquitectaLight';
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 2em;
	}

	.legal-section h2{
		text-align: left;
		font-size: 'ArquitectaLight';
		font-size: 14px;
		text-transform: uppercase;
		line-height: 2em;
	}

	.about-section{
		font-family: 'ArquitectaLight';
		font-size: 15px;
		text-align: center;
		background: #deede6;
		width: 100%
	}

	.about-section div{
		text-align: center;
		padding: 20px 5%;
		column-count: 1;
	}

	.about-section div.title{
		padding: 20px 5%;
		column-count: 1;
	}

	.about-section div.title h1{
		color: #9C7B36;
		font-family: 'Miso-Light';
		font-size: 38px;
		text-transform: uppercase;
		text-align: left;
	}

	.about-section h1.title{
		color: #9C7B36;
		font-family: 'Miso-Light';
		font-size: 38px;
		text-transform: uppercase;
		text-align: left;
		margin-bottom: 50px;
	}

	.about-section h2{
		color: #58585B;
		text-align: left;
		font-family: 'Miso-Light';
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 0;
		margin-top: 40px;
	}

	.about-section h3{
		color: #58585B;
		text-align: left;
		font-family: 'Miso-Light';
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 30px;
	}

	.about-section .column1{
		column-count: 1;
		margin-bottom: 10%;
	}

	.about-section p{
		text-align: justify;
	}

	.about-section .cuote{
		color: #9C7B36;
		text-align: center;
		font-family: 'Brittes';
		font-size: 32px;
		margin-bottom: 0;
		font-style: normal;
	}

	.about-section .lujo div.cuote{
		color: #808284;
		text-align: left;
		font-family: 'Miso-Light';
		font-size: 20px;
		padding: 0
	}

	.DT{
		display: none;
	}

	.MV{
		display: block;
	}

	#confirm-reserv .modal-body{
		background: white;
		height: 140px
	} 

	#confirm-reserv .modal-content{
		background: #8DD0C4;
	}


	#confirm-reserv .modal-body img{
		position: absolute;
	    left: 50%;
	    margin-left: -109.5px !important;  /* 50% of your logo width */
	    display: block;
	}

	#modal-concierge .modal-body img{
		position: relative;
	    left: 50%;
	    /*margin-left: 0px !important;  /* 50% of your logo width */
	    display: block;
	}

	#confirm-reserv .button-space{
		position: absolute;
		right: 0;
		height: 0;
	}

	#confirm-reserv #confirm-text{
		margin-top: 20% 20%;
		text-align: center;
		line-height: 60px;
	}

	#confirm-reserv img.bullet{
		position: relative;
	    left: 50%;
	    margin-left: -21px !important;  /* 50% of your logo width */
	    display: block;
	    margin-top: 10px;
	}

	#confirm-reserv button{
		position: relative;
		top: 35px;
		left: 50%;
		margin-left: -25% !important;  /* 50% of your logo width */
		border: 1px solid #a58929;
	    color: #a58929;
	    width: 50%;
	    background: transparent;
	    text-transform: uppercase;
	}

	.form-header{
		padding: 1.5% 0;
		text-transform: uppercase;
		color: #4c4c4c;
		background-image: url('../img/border_black_footer.png');
		background-repeat: repeat-x;
		background-position: left bottom;
		padding-top: 35px;
	}

	#confirm-reserv .DT{
		display: none;
	}

	#confirm-reserv .MV{
		display: block;
	}

	#modal-billing label {
	    width: 20%;
	    padding-top: 17px;
	    float: left;
	    text-transform: uppercase;
	}

	#modal-billing input, #modal-billing select {

	    margin-right: 20px !important;
	    margin-top: 10px;
	    
	}

	#modal-billing input, #modal-billing input[type=date], #modal-billing input[name=hotel], #modal-billing select[name=room]  {
	    width: 100% !important;
	    float: left;
	}

	#modal-billing .modal-content{
		/*height: 100%*/
		height: auto;
	}
	#modal-billing .modal-body{
		/*height: 100%*/
		min-height: 630px;
	}



	#modal-concierge .modal-body{
		/*height: 100%*/
		min-height: 610px;
	}

	#modal-concierge .modal-content{
		/*height: 100%*/
		height: auto;
	}

	#modal-concierge label {
	    width: 20%;
	    padding-top: 17px;
	    float: left;
	    text-transform: uppercase;
	    color: #7BA399;
	}

	#modal-concierge .modal-body{
		padding: 30px;
	}

	#modal-concierge input, #modal-concierge input[name=birth], #modal-concierge input[name=phone], #modal-concierge input[name=email]  {
	    width: 25% !important;
	    float: left;
	}

	#modal-concierge textarea{
	    width: 75% !important;
	    float: left;
	}

	#modal-concierge #sendConcierge{
		position: relative;
		top: 35px;
		left: 60%;
		margin-left: -25% !important;  /* 50% of your logo width */
		border: 1px solid #a58929;
	    color: white;
	    background-color: #a58929;
	    width: 30%;
	    text-transform: uppercase;
	    font-family: 'ArquitectaLight';
		font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 1px;
	}

	.conciergeCuote{
		margin-top: 20px;
		margin-bottom: 20px;
		line-height: 30px;
		text-align: center;
		font-size: 16px;
		color: #5E8E7E; /*#7BA399*/
		font-family: 'Miso-Light';
	}

	.square-radio {
	    margin: 2px;
	    width: 34px;
	    height: 34px;
	    position: relative;
	    float: left;
	    margin-top: 10px;
	    background: white;
	    font-size: 15px;
	    padding: 7px 12px;
	    color: #7BA399;
	    
	}
	.square-radio--clicked .square-radio--content{
	    margin: auto;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    background-color: #7BA399;
	    width: 20px;
	    height: 20px;
	}

	.marginLeft{
		margin-right: 20%;
	}

	#modal-concierge .modal-body{
		padding: 30px;
	}

	#modal-concierge input, #modal-concierge input[name=birth], #modal-concierge input[name=phone], #modal-concierge input[name=email]  {
	    width: 27% !important;
	    float: left;
	    margin-right: 1%
	}

	#modal-concierge input[name=email], #modal-concierge input[name=phone]{
	    width: 47% ;
	    float: left;
	    margin-right: 3%
	    border-radius:0;
	}

	#modal-concierge textarea, #modal-concierge input[name=name]{
	    width: 75% !important;
	    float: left;
	    border-radius: 0;
	}

	#modal-concierge textarea[placeholder]{
		color: unset !important;
	}

	#modal-concierge textarea, #modal-concierge input{
		margin-top: 10px
	}

	#modal-concierge input{
		border-radius: 0;

	}

	#wrapper{
		margin-top: 145px;
	}

	.nav li a {
	    padding: 0;
	    width: 137px;
	    text-transform: uppercase;
	    text-align: center;
	    color: #58585B;
	}

	.nav li a {
	    padding: 0;
	    width: 137px;
	    text-transform: uppercase;
	    text-align: center;
	    color: #58585B;
	}

	.slider-hotels, .slider{
		padding-top: 70px;
	}

	.hotel-packs{
		display: block;
	}

	#modal-billing label {
	    width: 20%;
	    padding-top: 17px;
	    float: left;
	    text-transform: uppercase;
	}

	#modal-billing input, #modal-billing select {

	    margin-right: 20px !important;
	    margin-top: 10px;
	    
	}

	#modal-billing input, #modal-billing input[type=date], #modal-billing input[name=hotel], #modal-billing select[name=room]  {
	    width: 25% !important;
	    float: left;
	}

	.footer-legal div, .footer-legal a{
		float: left;
		width: 25%;
		font-size: 10.5px;
		text-align: center;
		padding: 19px 35px;
		/*background-image: url('../img/border_black_footer.png');
		background-repeat: repeat-x;
		background-position: left top;*/
		color: #333;
		text-decoration: none;
	}

	.modal-dialog {
		width: 700px;
	    margin: 20px auto;
	}

	.modal-content {
		min-width: 700px;
		min-height: 600px;
	}

	#reservation-form{
		padding-top: 32px;
		font-family: "Miso-Light";
	}

	#reservation-form .DT{
		display: block;
	}

	#reservation-form .MV{
		display: none;
	}

	#reservation-form label {
	    width: 22%;
	    padding-top: 8px;
	}

	#reservation-form input, #reservation-form select {

	    margin-right: 20px ;
	    margin-top: 10px;
	    border-radius: 0;
	    
	}

	#reservation-form input[name=country] {

	    margin-right: 20px ;
	    
	}

	#reservation-form input[name=hotel], #reservation-form select[name=room], #reservation-form select[name=adults], #reservation-form select[name=kids] {
	    width: 26% !important;
	    float: left;
	    margin: 10px 0;
	}

	#reservation-form input[name=titlename],#reservation-form input[name=adress], #reservation-form input[name=email]{
		width: 74.5% !important;
	}

	#reservation-form input[name=birth], #reservation-form select[name=country]{
		margin-right: 50% !important;
	}

	#reservation-form input[name=expirationmonth], #reservation-form input[name=expirationyear]{
		width: 11% !important;
		margin: 10px 9px;
	}

	#reservation-form input[name=typePay]{
		margin: 0;
		padding: 0;
		/*width: 10px !important;*/
		width: 14px !important;
		
	}

	#reservation-form .special{
		width: 23% !important;
	}

	#reservation-form em.DT{
		margin-left: 22%;
		margin-right: 5%;
	}

	#reservation-form em.note{
		margin:0;
		width: 100$
	}

	#reservation-form .childSelect select {
	    float: left;
	    width: 25% !important;
	    margin: 5px 5px 10px 5px;
	}

	#reservation-form input[type=date], #reservation-form select {
	    width: 25%;
	    float: left;
	    margin-right: 5px;	
	}

	#reservation-form button {
		display: none;
	}

	#reservation-form #sendReservation {
		display: block;
		width: 25%;
		margin:0 auto;
		background-color: #a58929;
    	color: white;
    			font-family: 'ArquitectaLight';
		font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 1px;
	}

	#modal-billing #sendBilling{
		position: relative;
		top: 13px;
		left: 37.5%;
		width: 35%;
		margin: 5px auto;
		font-family: 'ArquitectaLight';
		font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 1px;
	}

	#modal-billing label {
	    width: 20%;
	    padding-top: 17px;
	    float: left;
	}

	#modal-billing input, #modal-billing select {

	    margin-right: 5px !important;
	    margin-top: 15px;
	    
	}

	#modal-billing input, #modal-billing input[type=date], #modal-billing input[name=hotel], #modal-billing select[name=room]  {
	    width: 79% !important;
	    float: left;
	    border-radius: 0;
        border: 0;
	}

	#modal-concierge #sendBilling{
		position: relative;
		left: 37.5%;
		width: 25%;
		margin: 5px auto;

	}

	#modal-concierge label {
	    width: 20%;
	    padding-top: 17px;
	    float: left;
	}

	#modal-concierge input, #modal-concierge select {

	    margin-right: 5px !important;
	    margin-top: 10px;
	    
	}
	
	#modal-concierge input, #modal-concierge input[type=date], #modal-concierge input[name=hotel], #modal-concierge select[name=room]  {
	    width: 6% !important;
	    float: left;
	}

	.DT{
		display: block;
	}

	.MV{
		display: none;
	}

	#modal-concierge input[name=birth]  {
	    width: 25% !important;
	    float: left;
	}

	#modal-concierge input[name=x]  {
	    margin-right: 50% !important;
	    float: left;
	}

	#confirm-reserv .DT{
		display: block;
	}

	#confirm-reserv .MV{
		display: none;
	}

	.navbar-fixed-top{
		position: relative;
	}

	.navbar-nav{
		margin: 0 auto;
	}

	.nav li a {
		padding: 0;
		width: 137px;
		text-transform: uppercase;
		text-align: center;
		color: #58585B;
		font-size: 1em;
		line-height: 3em;
		font-family: 'Miso-Light';
		letter-spacing: 1px;
	}

	.brand-toogle, .social-toogle, .contact-toogle {
		display: none !important;
	}

	.home-menu a {
		display: inline-block !important;
		width: 211px !important;
	}

	.navbar {
	    min-height: 113px;
	    position: relative;
	}

	.navbar .navbar-nav {
	    margin-top: 71px;
	    width: 100%;
	}

	.navbar-collapse .contact-toogle  {
		display: none;
	}

	.slide_text {
		padding: 1em 20%;
		height: 16%;
	}

	.slide_text .slide_byline{
		display: block;
	}

	.flex-control-nav li {
		display: inline-block;
		margin: 1em .5em;
	}

	.container {
	    width: 100%;
	}

	.mosaic{
		padding-bottom: 10%;
	}

	#portfolio-wrap {
		max-width: 614px;
	}

	.portfolio {
		margin: 16px;
	}

	.more-hotels, .mosaic-see-more{
		display: none !important;
	}

	.hotel-description div{
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
    	column-count: 2;
	    padding: 0 196px;
	}

	.hotel-secctions{
		display: none;
	}

	.hotel-description div{
		background: #e9f4f2;
		padding-bottom: 100px;
	}

	.hotel-packs{
		background: white;
	}

	.pack {
		padding: 5px auto;
		height: 340px;
		margin: 50px auto;
		color: #696969;
		width: 90%;
		overflow:auto; 
	}

	.pack-desc{
		padding-top: 0;
		height: 199px;
		margin: 0;
		background-image: url('../img/border_slide.png');
		background-repeat: repeat-y;
		background-position: left top;
		padding-right: 0;
		padding-left: 5px;
		float: left;
		display: block;
		width: 150px;
	}

	.pack-include{
		padding-top: 0;
		max-width: 45%;
		margin: 0;
		padding-right: 0;
		padding-left: 5px;
		float: left;
		display: block;
	}

	.pack-include span em{
		text-overflow: ellipsis;
	}
	.pack-include span {
		text-overflow: ellipsis;
	}

	.button-space img{
		width: 36px;
		height: 36px;
	}

	.pack button {
		display: none;
	}

	/*.pack-include .market{
		text-align: right;
		background-image: url('../img/border_black_footer.png');;
		background-repeat: repeat-x;
		background-position: left top;
		height: 20px;
		padding-top: 10px;
	}*/

	.pack .market{
		text-align: right;
		background-image: url('../img/border_black_footer.png');;
		background-repeat: repeat-x;
		background-position: left top;
		height: 20px;
		padding-top: 10px;
	  	float: left;
	    width: 100%;
	}

	.pack-include .more-include {
		text-align: left;
		height: 20px;
		padding-left: 10px;
	}

	.pack-include .include-desc {
		height: 170px;
    	overflow-y: hidden;
	}

	.pack .market a {
		float: right;
	}

	.pack .market a img{
		height: 16px;
		width: 19px;
	}

	.pack-include .more-include {
		text-align: left;
		height: 20px;
	}

	.pack-include .more-include a{
		color: #696969;
		text-decoration: none;
		font-family: 'Miso-Light';
	}

	.pack-include .more-include a img{
		width: 12px;
	    vertical-align: baseline;
	    margin-top: 5px;
	    opacity: .85;
	}

	.pack-include .include-desc {
		height: 170px;
    	overflow-y: hidden;
	}

	.pack .market a {
		float: right;
	}

	.pack .market a img{
		height: 16px;
		width: 19px;
	}

	.navigation-form{
		display: none;
	}

	.legal-section{
		font-family: 'ArquitectaLight';
		font-size: 14px;
		text-align: justify;
		background: #cbe4df;
		padding: 20px 20% 15% 20%;
		margin-top: 145px;
	}

	.about-section {
		width: 100%;
		margin-top: 145px;
	}

	.about-section img.main{
		width: 91%;
	}

	.about-section .article {
		text-align: left;
	}

	.about-section div{
		text-align: center;
		padding: 20px 10%;
		column-count: 2;
	}

	.about-section div li{
		text-align: justify;
	}

	.about-section div.title{
		padding: 20px 10%;	}

	.about-section .qejdm img.special{
		padding-bottom: 20%;
		display: block;
	}

	.about-section .lujo img.special{
		padding-bottom: 58%;
	}

	.about-section .historia img.special{
		padding-bottom: 58%;
		float: right;
	    padding-top: 25%;
	}

	.about-section .consejo img.special{
		padding-bottom: 125%;
    	padding-top: 27%;
	}

	.about-section .consejo h2{
		padding: 6% 0;
	}

	.about-section div img{
		width: 90%;
		height: auto;
	}

	.hide{
		display: block;
	}

	.footer-info {
		width: 80%;
	}

	.footer-legal {
		width: 88%;
		margin: 0 auto;
		min-height: 45px;

		background-image: url("../img/border_black_footer.png");
		background-repeat: repeat-x;
    	background-position: left top;
	}

	.footer-sign .copy{
		display: none;
	}

	#reservation-form input[name=expirationyear] {
	    margin-right: 44%;
	}

	#reservation-form .radiobutton label {
	    color: #57585b;
	    width: 33.3%;
	    font-size: 12px;
	    line-height: 16px;
	}

	#reservation-form .radiobutton label{
		color: #57585b;
		width: 21%;
		font-size: 12px;
		line-height: 16px;
	    margin: 1% 6%;
	}

	#modal-concierge input[name=birth_year] {
	    width: 6% !important;
	    float: left;
	    margin-right: 8.4% !important;
	}

	.packsTemp{
		margin-top: 140px;
		background-color: white;
	}

	.packsTemp .oneProm{
		position: relative;
		min-height: auto !important;
		max-height: 600px;
	}

	.packsTemp .oneProm div{
		position: absolute;
	}

	.oneProm > .img-responsive {
		position: relative;
		top: 0px;
	}

	.oneProm .onePromoFrame {
		display: block;
		position: absolute;
		top: calc(50% - 125px);
		left: calc(50% - 264px);
	}

	.oneProm div {
		color: #a58018;
		font-family: 'ArquitectaLight';
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		width: 408px;
	}

	.oneProm .promoTitle {
		height: 190px;
		top: calc(47% - 80px);/*top: calc(50% - 80px);*/
		left: calc(50% - 204px);
		font-size: 34.5px;
		line-height: 1.1em;/*line-height: 0.8em;*/
		padding-top: 0px;
	}

	.oneProm .promoHotel {
		width: 408px;
		height: 25px;
		top: calc(50% - 28px);
		left: calc(50% - 204px);
		font-size: 18px;
		line-height: 2em;
	}

	.oneProm .promoHotel span{
		font-size: 14px;
		display: inline;
	}

	.oneProm .price {
		height: 35px;
		top: calc(50% - -4px);
		left: calc(50% - 204px);
		font-family: 'Miso-Light';
		font-size: 31.5px;
	}

	.oneProm .price {
		height: 35px;
		top: calc(50% - -12px);
		left: calc(50% - 204px);
		font-family: 'Miso-Light';
		font-size: 31.5px;
	}

	.oneProm .desde {
		height: 15px;
		top: calc(50% - 1px);
		left: calc(50% - 204px);
		
		font-size: 14px;
	}

	.oneProm .travelNow {
		height: 25px;
		top: calc(50% - -60px);
		left: calc(50% - 204px);
		text-align: center;
	}

	.oneProm .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 60px;
		cursor: pointer;
	}

	.threeProm {
		position: relative;
		padding: 103px 0px;
		height: 750px;
	}

	.threeProm div {
		position: relative;
		float: left;
		background-color: #d0e8e5;
		width: 205px;
		height: 410px !important;
		color: #a58018;

	}

	.inter div {
		background-color: #a58018;
		color: white;

	}

	.threeProm .promTwo, .threeProm .promOne, .threeProm .promThree, .threeProm .travelNow  {
		/*box-shadow: 5px 5px 5px rgba(0,0,0,0.2);*/
	}

	.threeProm .promTwo, .threeProm .middle {
		margin: 0px 9.9%;
	}

	.threeProm .promoHotel, .threeProm .promoFrom, .threeProm .promoPrice, .threeProm .promoDesc {
		
		font-family: 'ArquitectaLight';
		text-transform: uppercase;
		text-align: center;
		position: relative;
		width: 205px;
		height: 70px;
		padding: 24px 23px;
		left: 0px;
	}

	.threeProm .promoHotel{
		font-family: 'ArquitectaMedium';
		font-size: 19px;
		height: auto !important;
		line-height: 1.1em;
	}

	.threeProm .promoFrom{
		font-size: 14px;
		height: auto !important;
		padding: 0px 23px;
		line-height: 1em;
	}

	.threeProm .promoPrice{
		font-family: 'Miso-Light';
		font-size: 30px;
		height: auto !important;
		padding: 0px 23px;
		line-height: 1em;
	}

	.threeProm .promoDesc{
		font-family: 'Miso-Light';
		font-size: 20px;
		height: auto !important;
		padding: 24px 23px 0px 23px;
		line-height: 1em;
	}

	.threeProm img{
		position: absolute;
		bottom: 0px;
	}

	.threeProm .travelNow {
		background-color: transparent;
		height: 25px !important;
		top: 10px;
		text-align: center;
		text-transform: uppercase;
		left: 0;
		width: auto;
	}

	.threeProm .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 48px;
		font-family: 'ArquitectaLight';
		font-size: 16.3px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.modal-dialog .flexslider .flex-control-nav {
		display: none;
	}

	.promoContent .exclusiveComm {
		text-align: center;
		font-family: 'Miso-Light';
		font-size: 22px;
		background-color: rgba(255,255,255,.4);
		height: 45px;
		line-height: 52px;
	}

	.promoContent .promName, .promoContent .promoPrice, .promoContent .promoDesc {
		padding:0px 36px;
		color: #a58018;
		text-transform: uppercase;
		font-family: 'Miso-Light';
	}

	.promoContent .promName {
		font-size: 52px;
		padding: 20px 36px;
		line-height: .7em
	}

	.promoContent .promoPrice{
		font-size: 57px;
		padding-bottom: 20px;
		line-height: .7em;
	}

	.promoContent .promoPrice span {
		font-size: 27px;
		margin-left: 7px;
	}

	.promoContent .promoDesc {
		font-size: 16.5px;
		color: #58595b;
		height: 200px;
		line-height: 1.2em;
	}

	.promoContent .travelNow {
		font-size: 16.5px;
		color: #58595b;
		text-transform: uppercase;
		text-align: center;
	}

	.promoContent .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 70px;
		font-family: 'ArquitectaLight';
		font-size: 20px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.travelNow a:hover {
		text-decoration: none;
	}	

	/* ---------------------------------- promoExclusive ------------------------------------- */

	.packsExclusive{
		margin-top: 140px;
		background-color: white;
		margin-top: 140px;
		padding: 0 10% 0 10%;
	}

	.packsExclusive .onePromEx{
		position: relative;
		min-height: auto !important;
		max-height: 1000px;
	}

	.packsExclusive .onePromEx div{
		position: relative;
	}

	.onePromEx > .img-responsive {
		position: relative;
		top: 0px;
	}

	.onePromEx div {
		color: #878786;
		font-family: 'ArquitectaLight';
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		width: 552px;
	}

	.onePromEx .promoTitle {
		height: auto !important;
		left: calc(50% - 276px);
		font-size: 38.5px;
		line-height: 2em;
		padding-top: 0px;
		top: 0px;
		color: #878786;
		font-family: 'ArquitectaLight';
	}

	.onePromEx .promoDesc {
		height: auto !important;
		left: calc(50% - 276px);
		font-size: 18px;/*24.5px*/
		line-height: 1em;
		padding-top: 0px;
		text-transform: none;
	}

	.onePromEx .promoDesc a {
		font-size: 14px;
		text-decoration: underline;
		text-transform: uppercase;
		color: #878786;
	}

	.onePromEx .promoHotel {
		width: 552px;
		height: 25px;
		top: calc(50% - 20px);
		left: calc(50% - 276px);
		font-size: 19px;
		line-height: 2em;
		margin-top: 20px;
		color: #878786;
	}

	.onePromEx .promoHotel span{
		font-size: 11px;
		display: inline;
	}

	.onePromEx .price {
		height: 45px;
		top: calc(50% - -4px);
		left: calc(50% - 276px);
		font-family: 'Miso-Light';
		font-size: 43px;
		line-height: 1em;
		margin: 0px;
	}

	.onePromEx .price div{
		display: none; 
	}

	.onePromEx .travelNow {
		height: 25px;
		top: calc(50% - -60px);
		left: calc(50% - 276px);
		text-align: center;
	}

	.onePromEx .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 60px;
		cursor: pointer;
	}

	.threePromEx {
		position: relative;
		padding: 103px 0px;
		height: 1140px;
	}

	.threePromEx div {
		position: relative;
		float: left;
		width: 47%;
		height: auto !important;
		color: rgba(0,0,0,0.5); /*#a58018;*/

	}

	.inter div {
		background-color: #a58018;
		color: white;

	}

	.threePromEx .promOne, .threePromEx .middle {
		margin-right: 6%;
	}

	.threePromEx .promTwo {
	    margin-top: 0px;
	}

	.threePromEx .promoHotel, .threePromEx .promoFrom, .threePromEx .promoPrice, .threePromEx .promoDesc, .threePromEx .promoName {
		
		font-family: 'ArquitectaLight';
		text-transform: uppercase;
		text-align: center;
		position: relative;
		width: 100%;
		height: 70px;
		padding: 24px 23px;
		left: 0px;
	}

	.threePromEx .promoHotel{
		font-family: 'ArquitectaMedium';
		font-size: 24.5px;
		height: auto !important;
		line-height: 1em;
	}

	.threePromEx .promoFrom{
		font-size: 14px;
		height: auto !important;
		padding: 0px 23px;
		line-height: 1em;
	}

	.threePromEx .promoPrice{
		font-family: 'Miso-Light';
		font-size: 31.5px;
		height: auto !important;
		padding: 0px 23px;
		line-height: 1em;
	}

	.threePromEx .promoDesc{
		font-family: 'Miso-Light';
		font-size: 18px;
		height: auto !important;
		padding: 24px 23px 24px 23px;
		line-height: 1em;
	}

	.threePromEx .promoName{
		font-family: 'ArquitectaLight';
		font-size: 20px;
		height: auto !important;
		padding: 0px 23px 5px 23px;
		line-height: 1em;
	}

	.threePromEx .promoName span {
		display: inline;
		font-size: 11px;
	}

	.threePromEx .travelNow {
		background-color: transparent;
		height: 25px !important;
		top: 10px;
		text-align: center;
		text-transform: uppercase;
		left: 0;
		width: 47%;
	}

	.threePromEx .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 84px;
		font-family: 'ArquitectaLight';
		font-size: 16.3px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.modal-dialog .flexslider .flex-control-nav {
		display: none;
	}

	.promoContent .exclusiveComm {
		text-align: center;
		font-family: 'Miso-Light';
		font-size: 22px;
		background-color: rgba(255,255,255,.4);
		height: 45px;
		line-height: 52px;
	}

	.promoContent .promName, .promoContent .promoPrice, .promoContent .promoDesc {
		padding:0px 36px;
		color: #a58018;
		text-transform: uppercase;
		font-family: 'Miso-Light';
	}

	.promoContent .promName {
		font-size: 45px;/*52px*/
		padding: 20px 36px;
		line-height: 1em; /*.7em*/
	}

	.promoContent .promoPrice{
		font-size: 45px;/*57px;*/
		padding-bottom: 20px;
		line-height: .7em;
	}

	.promoContent .promoPrice span {
		font-size: 27px;
	}

	.promoContent .promoDesc {
		font-size: 14px;
		color: #58595b;
		height: auto;/*200px*/
		line-height: 1.2em;
	}

	.promoContent .promoTipoCambio {
		font-size: 16.5px;
		color: #58595b;
		padding-left: 36px;
		padding-bottom: 10px;
	}


	.promoContent .travelNow {
		font-size: 16.5px;
		color: #58595b;
		text-transform: uppercase;
		text-align: center;
	}

	.promoContent .travelNow a{
		width: 205px;
		height: 25px;
		color: white;
		background-color: #a58018;
		padding: 5px 70px;
		font-family: 'ArquitectaLight';
		font-size: 20px;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.travelNow a:hover {
		text-decoration: none;
	}

	.threePromEx .promOne, .threePromEx .middle {
	    margin-bottom: 0px;
	}

	/*----------------------------------- experiancias concierge -----------------------------------*/

	.conciergeExp {
		background-color:#e7f4f1; 
		height:300px;
	}

	.conciergeExp .title, .conciergeExp .subtitle, .conciergeExp .separator {
		color:#a3802e; 
		font-family:'ArquitectaMedium';
		font-size: 25px;
		text-align: center;
		padding: 0 15%;
	}

	.conciergeExp .subtitle {
		font-family:'ArquitectaLight';
		font-size: 19px;
	}

	.conciergeExp .separator {
		background-image: url('../img/border_gold_footer.png');
		background-repeat: repeat-x;
		height: 2px;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 7%;
	}

	.conciergeExp .offer {
		background-color: #C2E5DF;
		color: #a3802e;
		height: 457px;
		width: 24%;
		float: left;
		/*box-shadow: 2px 2px 7px rgba(0,0,0,.5);*/
		margin-bottom: 10px;

	}

	#modal-concierge .modal-body .offer img{
		position: relative;
	    /*left: 50%;*/
	    margin-left: -115px !important;  /* 50% of your logo width */
	    display: block;

	}

	 .conciergeExp .offer:nth-child(5), .conciergeExp .travelNow:nth-child(8) {
		margin: 0 7%; /*margin: 0 14%;*/
	}

	.conciergeExp .travelNow {
		width: 24%;
		height: 25px;
		float: left;
		line-height: 2em;
		text-align: center;
		text-transform: uppercase;
	}

	.conciergeExp .travelNow a {
	    height: 25px;
	    color: white;
	    background-color: #a58018;
	    padding: 3px 47px;
	    cursor: pointer;
	}

	.conciergeExp .offer div {
		text-align: center;
		text-transform: uppercase;
	}

	.conciergeExp .offer .hotel {
		height: 79px;
		font-size: 19px;
		font-family: 'ArquitectaMedium';
		padding-top: 30px;
	}

	.conciergeExp .offer .from {
		font-size: 14px;
		font-family: 'ArquitectaLight';
	}

	.conciergeExp .offer .price {
		font-size: 32.5px;
		font-family: 'Miso-Light';
	}

	.conciergeExp .offer .desc {
		font-size: 20px;
		font-family: 'Miso-Light';
		height: 82px;
		text-align: center;
		padding: 0 5%;
	}

	.conciergeExp .offer img {
		position: sticky !important;
		margin-left: 0px !important;
	}

	#modal-gift .gifChoose div {
		/*width: 33.3%;*/
		width: 50%;
		height: 130px;
		padding: 15px 5px 0px;
		float: left;
		font-family: 'Miso-Light';
		font-size: 13px;
		color: #58595b;
	}

}

@media (min-width: 992px) {

	#legal-separator {
    position: relative;
    width: 11.6%;
}

	#reservation-form input[name=birth], #reservation-form input[name=cvv], #reservation-form select[name=country]{
		margin-right: 50% !important;
	}

	#reservation-form input[name=phone], #reservation-form input[name=cvv]  {
	    margin-right: 50%;
	}

	.brand {
	    position: absolute;
	    left: 50% !important;
	    margin-left: -109.5px !important;  /* 50% of your logo width */
	    display: block;
	}

	#reservation-form input[type=date], #reservation-form select, #reservation-form input[type=text], #reservation-form input[type=number] {
	    width: 26%;
	    float: left;
	    margin-right: 5px;	
	}

	#reservation-form input[name=birth_year] {
	    margin-right: 50%;
	}

	.modal-dialog {
		width: 800px;
	}

	.modal-content {
		min-width: 800px;
		min-height: 600px;
	}

	.header {
	    text-align: center;
	    max-height: 145px;
	}

	.nav li a {
		padding: 0;
		width: 201.2px;
	    width: calc((100% - 106px)/4);
		text-transform: uppercase;
		text-align: center;
		color: #58585B;
	}

	.home-menu{
		display:inline-block;
	}

	.container {
		max-width: 1024px;
	    width: 100%;
	}

	#portfolio-wrap {
		max-width: 614px;
	}

	.portfolio {
		margin: 8px;
	}

	.slide_text {
		padding: 1em 10%;
	}

	.pack {
		width: 75%;
	}

	.pack-desc{
		height: 199px;
		margin: 0;
		background-image: url('../img/border_slide.png');
		background-repeat: repeat-y;
		background-position: left top;
		padding-right: 0;
		padding-left: 10px;
		float: left;
		display: block;
		position:relative;
	}

	.pack-include{
		padding-left: 40px;
	}

	.shop a{
		position: relative;
		height: 16px;
		text-align: right;
	}

	.about-section div img{
		width: auto;
    	min-width: 0;
	}

	.footer-info {
		width: 90%;
	}

	.threeProm .promTwo, .threeProm .middle {
	    margin: 0px 18.9%;
	}
}

@media (min-width: 1024px) {
	.slide_promo_home_a, .slide_promo_home_b, .slide_promo_home_b_btn, .slide_promo_home_a_btn{
		display: block;
	}
	.footer {
	    background-color: #C2E5DF;
	    height: 330px;
	    letter-spacing: 0.1em;
	    width: 1024px;
	    margin: 0 auto;
	}
	.header {
		min-width: 1024px;
	}

	.threeProm .promTwo, .threeProm .middle {
		margin: 0px 11.9%;
	}

	.threeProm {
		position: relative;
		padding: 103px 108px;
		height: 750px;
	}
	
}
@media (min-width: 1200px) {

	.modal-dialog {
		width: 1024px;
	    margin: 30px auto;
	}

	.container {
		max-width: 1024px;
	}

  .slide_text {
		padding: 1em 20%;
	}
}












